<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_new.css">
    <title><%= user.info.fullname %></title>
</head>
<body class="dark-style">
<header class="publication-header">
    <div class="header-title">
        <p>Admin</p>
    </div>
</header>
<% include header_usr.ejs %>
<div class="content-text publication-info">
    <a href="/publications">
        <button class="control-button">Go back</button>
    </a>
    <div class="shadow-box-in">
        <% include userInfo.ejs %>
    </div>
</div>
<% include users_table.ejs %>
<% include footer.ejs %>
</body>
</html>