<!DOCTYPE html>
<html lang="en" class="error">
<head>
    <meta charset="UTF-8">
    <title>500</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_new.css">
    <meta name="description" content="500 Server error">
    <meta name="author" content="Danil Kazimirov">
</head>
<body class="error">
<header id="header-500">
    <blockquote>
        <% if(err_description){ %>
        <%= err_description %>
        <% }else{ %>
        Yoy must registered, if you want continue
        <% } %>
    </blockquote>
</header>
</body>
</html>