<template>
  <div class="bulma field">
    <span class="file is-info has-name">
      <label class="file-label">
        <input class="file-input" type="file" name="file" @change="loadFile" ref="file">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fa fa-upload"/>
          </span>
          <span class="file-label">
          Choose file
          </span>
        </span>
        <span class="file-name" v-if="file">
          {{file.name}}
        </span>
      </label>
       <a class="button is-danger" v-if="file" @click="removeFile">
      <v-icon color="white">delete</v-icon>
    </a>
    </span>
  </div>
</template>
<script>

  export default {
    components: {},
    data () {
      return {
        file: null
      }
    },
    methods: {
      loadFile (event) {
        this.file=event.target.files[0];
        this.$emit('load', this.file);
      },
      removeFile (event) {
        this.$refs.file.value="";
        this.file=null;
        this.$emit('remove')
      }
    }
  }
</script>
<style scoped lang="scss">
  .bulma {
    @import "~bulma";
  }
</style>
