<template>
  <v-container>
    <div class="columns">
      <div class="column">
        <div class="hero has-bg is-small">
          <div class="hero-body">
            <div class="column is-12 has-text-centered">
              <div class="retro_text is-hidden-touch">
                <div class="script"><span>IT'S</span></div>
                <div class="shadow text1">THE LAST</div>
                <div class="shadow text2">WEB</div>
                <div class="shadow text1">PROGBASE</div>
                <div class="shadow text3">LAB</div>
                <div class="script"><span>BY ME</span></div>
              </div>
              <div class="is-hidden-desktop white--text">
                <p class="is-size-1">WELCOME</p>
                <p class="is-size-2">TO LAST WEBPROGBASE</p>
                <p class="is-size-3">LAB</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-8 is-offset-2">
      <div class="card">
        <div class="avatar">
          <img class="avatar-image"
               src="https://scontent-frx5-1.cdninstagram.com/t51.2885-19/s150x150/20393616_1836301649718394_3878184923726610432_a.jpg"/>
        </div>
        <div class="card-header">
          <div class="text-xs-center" style="margin: auto">
            <p class="is-size-1">
              Hi, my name is Danil
              <br>
              And I'm the creator of this site
            </p>
          </div>
        </div>
        <div class="card-content columns">
          <div class="column is-10 is-offset-1 has-text-centered">
            <h1 class="subtitle">I have designed this site to perform laboratory work #1.</h1>
            <p>My <em>dear</em> <a href="https://telegram.me/rulline" target="_blank">teacher</a>
              asked me to create and complete this site for lab's works.<br>
              I hope that I coped with the task.
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="column is-8 is-offset-2">
      <div class="card">
        <div class="card-header">
          <div class="is-centered card-header-title">
            <div class="has-text-centered">
              <p class="is-size-1">
                Essence, I choose
              </p>
              <p class="subtitle">
                publications about programming
              </p>
            </div>
          </div>
        </div>
        <div class="card-content">
          <div class="content">
            <p class="has-text-centered">
              Here is some actions, that you can do with this website:
            </p>
            <div class="column is-8 is-offset-2">
              <div class="tile is-ancestor is-parent">
                <div class="tile is-6 is-vertical is-parent">
                  <div class="tile notification box is-primary is-child">
                    <p class="title">
                                    <span class="icon is-large">
                                     <i class="fa fa-plus"></i>
                                 </span>
                      Create</p>
                    <p class="subtitle">new publication</p>
                  </div>
                  <div class="tile notification box is-warning is-child">
                    <p class="title">
                                     <span class="icon is-large">
                                     <i class="fa fa-share"></i>
                                 </span>
                      Share</p>
                    <p class="subtitle">publications with friends</p>
                  </div>
                  <div class="tile box notification is-danger is-child">
                    <p class="title">
                                    <span class="icon is-large">
                                         <i class="fa fa-search"></i>
                                    </span>
                      Search </p>
                    <p class="subtitle">publications by it's fields</p>
                  </div>
                </div>
                <div class="tile is-6 is-vertical is-parent">
                  <div class="tile box notification is-info is-child">
                    <p class="title">
                                     <span class="icon is-large">
                                        <i class="fa fa-code"></i>
                                     </span>
                      API
                    </p>
                    <p class="subtitle">for more advanced usage</p>
                  </div>
                  <div class="tile box notification is-danger is-child">
                    <p class="title">
                                 <span class="icon is-large">
                                    <i class="fa fa-server"></i>
                                 </span>
                      Image's storage
                    </p>
                    <p class="subtitle">allows downloading and accessing your images</p>
                  </div>
                  <div class="tile box notification is-warning is-child">
                    <p class="title">
                                 <span class="icon is-large">
                                     <i class="fa fa-shield"></i>
                                 </span>
                      Auth
                    </p>
                    <p class="subtitle">for security</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </v-container>
</template>
<script>

  export default {
    components: {}
  }
</script>
<style scoped lang="scss">
  @import '~bulma';
  @import url(https://fonts.googleapis.com/css?family=Arvo:700);
  @import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
  @import url(https://fonts.googleapis.com/css?family=Ubuntu:300italic,400,400italic,700,700italic);
  @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
  @import url(https://fonts.googleapis.com/css?family=Squada+One);
  @import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
  @import url(https://fonts.googleapis.com/css?family=Six+Caps:400);

  .publication-icon {
    border-radius: 15px;
    border: 10px solid white;
  }

  .flex-container {
    display: flex;
    /*min-height: 100vh;*/
    background-size: cover;
    display: flex;
    flex-direction: column;
  }

  .flex-viewport {
    /*min-height: 90vh;*/
    flex: 1 0 auto;
  }

  .flex-footer {
    flex-shrink: 0;
    /*align-self: flex-end;*/
  }

  .publication-prev-img {
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-left: 50%;
    transform: translate(-50%, 0%);
  }

  .m-t-1 {
    margin-top: 1vh;
  }

  .m-b-1 {
    margin-bottom: 1vh;
  }

  .h-85 {
    min-height: 85vh;
  }

  .has-bg {
    background-color: rgba(0, 0, 0, 0);
  }

  .no-bg {
    background: transparent;
  }

  .gravatar-image {
    border-radius: 50%;
    box-sizing: content-box;
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
  }

  .avatar {
    width: 100%;
    margin: -70px auto auto 0px;
    padding-bottom: 20px;
  }

  .avatar-image {
    border-radius: 50%;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    border: 4px white solid;
    box-sizing: content-box;
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
  }

  .bg-light {
    background-color: rgba(231, 229, 228, 1);
  }

  .m-t-7 {
    margin-top: 70px;
  }

  body {
    word-break: break-all;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
  }

  /*retro text style*/
  .retro_text {
    position: relative;
    margin: 10% auto;
    width: 540px;
    color: rgba(231, 229, 228, 1);
  }

  .retro_text .shadow {
    color: rgba(231, 229, 228, 1);
    font-family: Arvo;
    font-weight: bold;
    text-shadow: -3px -3px 0 #222,
    3px -3px 0 #222,
    -3px 3px 0 #222,
    3px 3px 0 #222,
    4px 4px 0 rgba(231, 229, 228, 1),
    5px 5px 0 rgba(231, 229, 228, 1),
    6px 6px 0 rgba(231, 229, 228, 1),
    7px 7px 0 rgba(231, 229, 228, 1);
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.9);
    -webkit-transform: scaleY(0.9);
    -moz-transform: scaleY(0.9);
    margin: 0;
    text-align: center;
  }

  .retro_text .script {
    font-family: "Seaweed Script";
    color: rgba(231, 229, 228, 1);
    text-align: center;
    position: relative;
    font-size: 40px;
    margin: 0;
  }

  .retro_text .script div {
    padding: 0 0.3em;
  }

  .retro_text .script:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 35%;
    left: 65%;
    border-bottom: 3px solid rgba(231, 229, 228, 1);
  }

  .retro_text .script:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 35%;
    border-bottom: 3px solid rgba(231, 229, 228, 1);
  }

  .retro_text .text1 {
    font-size: 80px;
  }

  .retro_text .text2 {
    font-size: 160px;
  }

  .retro_text .text3 {
    font-size: 120px;
  }

  /*shadowed box*/
  .shadow-box-out {
    box-shadow: 0px -10px 60px rgba(6, 4, 4, 0.82);
  }

  .shadow-box-in {
    box-shadow: 0px -10px 60px rgba(6, 4, 4, 0.82) inset;
  }

  div.old-shadow-text {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    font-weight: 100;
    padding: 80px 50px;
    text-align: center;
    margin: -10px 0% 0% 0%;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #131313;
    /*shadow effect*/
    background-color: rgba(231, 229, 228, 1);
    letter-spacing: .15em;
    text-shadow: 1px -1px 0 #767676,
    -1px 2px 1px #737272,
    -2px 4px 1px #767474,
    -3px 6px 1px #787777,
    -4px 8px 1px #7b7a7a,
    -5px 10px 1px #7f7d7d,
    -6px 12px 1px #828181,
    -7px 14px 1px #868585,
    -8px 16px 1px #8b8a89,
    -9px 18px 1px #8f8e8d,
    -10px 20px 1px #949392,
    -11px 22px 1px #999897,
    -12px 24px 1px #9e9c9c,
    -13px 26px 1px #a3a1a1,
    -14px 28px 1px #a8a6a6,
    -15px 30px 1px #adabab,
    -16px 32px 1px #b2b1b0,
    -17px 34px 1px #b7b6b5,
    -18px 36px 1px #bcbbba,
    -19px 38px 1px #c1bfbf,
    -20px 40px 1px #c6c4c4,
    -21px 42px 1px #cbc9c8,
    -22px 44px 1px #cfcdcd,
    -23px 46px 1px #d4d2d1,
    -24px 48px 1px #d8d6d5,
    -25px 50px 1px #dbdad9,
    -26px 52px 1px #dfdddc,
    -27px 54px 1px #e2e0df,
    -28px 56px 1px #e4e3e2;
  }
</style>
