@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300italic,400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Six+Caps:400);

body {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body.dark-style {
    color: white;
    background-color: #222;
    font-family: Verdana, sans-serif;
    line-height: 1.5;
}

header.dark-style {
    width: 100%;
    top: 0px;
    overflow: hidden;
    text-align: center;
    margin: 0px;
}

header.fullscreen {
    position: relative;
    background: url("../images/design/workplace.jpg") no-repeat center;
    background-size: cover;
    display: inline-block;
    height: 100%;
}

/*retro text style*/
.retro_text {
    position: relative;
    margin: 10% auto;
    width: 540px;
    color: rgba(231, 229, 228, 1);
}

.retro_text .shadow {
    color: rgba(231, 229, 228, 1);
    font-family: Arvo;
    font-weight: bold;
    text-shadow: -3px -3px 0 #222,
    3px -3px 0 #222,
    -3px 3px 0 #222,
    3px 3px 0 #222,
    4px 4px 0 rgba(231, 229, 228, 1),
    5px 5px 0 rgba(231, 229, 228, 1),
    6px 6px 0 rgba(231, 229, 228, 1),
    7px 7px 0 rgba(231, 229, 228, 1);
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.9);
    -webkit-transform: scaleY(0.9);
    -moz-transform: scaleY(0.9);
    margin: 0;
    text-align: center;
}

.retro_text .script {
    font-family: "Seaweed Script";
    color: rgba(231, 229, 228, 1);
    text-align: center;
    position: relative;
    font-size: 40px;
    margin: 0;
}

.retro_text .script span {
    padding: 0 0.3em;
}

.retro_text .script:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 35%;
    left: 65%;
    border-bottom: 3px solid rgba(231, 229, 228, 1);
}

.retro_text .script:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 35%;
    border-bottom: 3px solid rgba(231, 229, 228, 1);
}

.retro_text .text1 {
    font-size: 80px;
}

.retro_text .text2 {
    font-size: 160px;
}

.retro_text .text3 {
    font-size: 120px;
}

/*shadowed box*/
.shadow-box-out {
    box-shadow: 0px -10px 60px rgba(6, 4, 4, 0.82);
}

.shadow-box-in {
    box-shadow: 0px -10px 60px rgba(6, 4, 4, 0.82) inset;
}

div.old-shadow-text {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    font-weight: 100;
    padding: 80px 50px;
    text-align: center;
    margin: -10px 0% 0% 0%;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #131313;
    /*shadow effect*/
    background-color: rgba(231, 229, 228, 1);
    letter-spacing: .15em;
    text-shadow: 1px -1px 0 #767676,
    -1px 2px 1px #737272,
    -2px 4px 1px #767474,
    -3px 6px 1px #787777,
    -4px 8px 1px #7b7a7a,
    -5px 10px 1px #7f7d7d,
    -6px 12px 1px #828181,
    -7px 14px 1px #868585,
    -8px 16px 1px #8b8a89,
    -9px 18px 1px #8f8e8d,
    -10px 20px 1px #949392,
    -11px 22px 1px #999897,
    -12px 24px 1px #9e9c9c,
    -13px 26px 1px #a3a1a1,
    -14px 28px 1px #a8a6a6,
    -15px 30px 1px #adabab,
    -16px 32px 1px #b2b1b0,
    -17px 34px 1px #b7b6b5,
    -18px 36px 1px #bcbbba,
    -19px 38px 1px #c1bfbf,
    -20px 40px 1px #c6c4c4,
    -21px 42px 1px #cbc9c8,
    -22px 44px 1px #cfcdcd,
    -23px 46px 1px #d4d2d1,
    -24px 48px 1px #d8d6d5,
    -25px 50px 1px #dbdad9,
    -26px 52px 1px #dfdddc,
    -27px 54px 1px #e2e0df,
    -28px 56px 1px #e4e3e2;
}

div.content-text {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    position: relative;
    width: 85%;
    max-width: 1200px;
    /*max-width: 70%;*/
    margin: auto;
}

div.dark-style {
    color: #fff;
    background-color: #222222;
    width: 100%;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    line-height: 36px;
    text-align: justify;
}

div.dark-style h1 {
    font-size: 42px;
}

div.dark-style h1, h2, h3 {
    position: relative;
    color: #fff;
    font-family: 'Droid Serif';
    font-weight: 400;
    line-height: 1.2em;
    font-weight: 400;

    border-left: 10px solid #E65634;
    border-right: 10px solid #E65634;
    max-width: 60%;

    margin: 0px auto 20px;
    padding: 30px;
    text-align: center;
    width: 800px;
}

div.dark-style h1:after, h2 :after, h3:after {
    position: absolute;
    content: "";
    display: block;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 50px;
    border-top: 10px solid #E65634;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 10px solid #E65634;
}

div.dark-style h1:before, h2 :before, h3:before {
    position: absolute;
    content: "";
    display: block;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 10px solid #E65634;
    border-bottom: 10px solid #E65634;
}

div.dark-style p {
    font-size: 25px;
    color: #FFFFFF;
    position: relative;
    padding: 20px;
}

div.dark-style .accent {
    position: relative;
    border-left: 5px solid deepskyblue;
    padding: 20px 40px;
}

div.dark-style .accent:after {
    position: absolute;
    content: "";
    display: block;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 20px;
    border-top: 5px solid deepskyblue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.dark-style .accent:before {
    position: absolute;
    content: "";
    display: block;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 20px;
    border-bottom-right-radius: 5px;
    border-bottom: 5px solid deepskyblue;
}

.round-corner {
    border-radius: 5px;
}

div.dark-style em {
    font-style: italic;
    text-decoration: underline;
}

div.dark-style a {
    color: deepskyblue;
}

div.dark-style a:hover {
    color: rgba(0, 138, 191, 0.91);
}

div.dark-style ul, ol {
    position: relative;
    font-family: 'Ubuntu';
    margin: 15px auto;
}

div.dark-style li {
    margin: 10px;
}

div.center {
    margin: auto;
    position: relative;
    text-align: center;
}

button.control-button, button.control-button-red {
    background-color: transparent;
    border-radius: 2px;
    text-align: center;
    font-size: 30px;
    color: white;
    width: auto;
    border: 3px solid deepskyblue;
    padding: 10px;
    transition: background-color, color, border-radius, transform 0.3s ease-in-out;
}

button.control-button-red {
    border: 3px solid #E65634;
}

button.control-button-red:hover {
    transform: scale(0.97, 0.97); /* Standard syntax */
    background-color: #E65634;
    color: black;
    border-radius: 40px;
}

a {
    text-decoration: none;
}

button.control-button:hover {
    transform: scale(0.97, 0.97); /* Standard syntax */
    background-color: deepskyblue;
    color: black;
    box-shadow: 0px -10px 60px rgba(6, 4, 4, 0);
    border-radius: 40px;
}

div.light {
    background-color: rgba(231, 229, 228, 1);
}

div.light h1 {
    color: #cc141c;
    font-family: 'Squada One';
    font-size: 60px;
    line-height: 54px;
    margin-bottom: 72px;
}

div.light h1:before {
    background: #cc141c;
    content: '';
    display: block;
    height: 12px;
    margin-bottom: 36px;
    width: 72px;
}

div.light p {
    color: #222;
    font-family: 'Ubuntu';
    font-weight: 400;
    line-height: 1.2em;
    font-weight: 400;
    font-size: 1.2em;

    margin: 0px auto;
    text-align: right;
    padding: 0px 5% 0%;
}

div.light a {
    color: #ec7309;
    font-style: italic;
}

div.light a:hover {
    color: #cc141c;
}

footer {
    position: relative;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
}

footer.light {
    background-color: rgba(231, 229, 228, 1);
}

.flex-publication-prev-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    margin: 2% 10%;
}

.publication-list-area {
    background: url("../images/design/bg.jpg") no-repeat center fixed;
    min-height: 70%;
    background-size: cover;
    position: relative;
    top: 0px;
}

.content {
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    position: relative;
    width: 100%;
}

.items-not-found-message {
    min-width: 30%;
    display: inline-block;
    box-sizing: content-box;
    margin: 5% auto;
    font-size: 60px;
    font-weight: 400;
    line-height: 2;

    color: white;
    border-radius: 10px;
    background-color: rgba(28, 28, 28, 0.82);
    text-align: center;
}

.flex-item {
    flex-grow: 1;
    flex-basis: 25%;
    flex-shrink: 1;
    margin: 2%;
}

/*publication cards style*/
.publication-card {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    min-width: 300px;
    max-width: 300px;
    color: #1c1c1c;
    overflow: hidden;
    /*box-shadow: 0px -10px 60px rgba(6, 4, 4, 0.5);*/
    transition: transform 0.4s;

    background-color: white;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.publication-card:hover {
    /*box-shadow: 0px -10px 30px rgba(6, 4, 4, 0.3);*/
    padding: 0px;
    transform: scale(0.95, 0.95); /* Standard syntax */
}

.publication-card img {
    height: 280px;
    width: 280px;
    object-fit: cover;
    object-position: center;

    border-radius: 50%;
    margin-top: 2%;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

.publication-card .description {
    color: #222;
    text-align: center;
    margin: 2%;
    line-height: 20px;
    font-size: 20px;
}

.publication-card .header {
    color: white;
    line-height: 50px;
    font-size: 40px;
    white-space: normal;
    font-weight: 600;
    text-align: center;
    height: auto;
}

.publication-card .green {
    background-color: #0c8300;
}

.publication-card .white {
    /*background-color: #f6fff4;*/
    color: deepskyblue;
}

.publication-card .orange {
    background-color: #ffaf00;
}

.publication-card .red {
    background-color: #ff2800;
}

.publication-card .blue {
    background-color: deepskyblue;
}

.publication-card a {
    text-decoration: none;
    color: inherit;
}

.publication-card .tag {
    color: white;
    width: auto;
    flex-grow: 1;
    flex-basis: 25%;
    flex-shrink: 1;
    margin: 3px;
}

.publication-card .tags {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    margin: 5% auto;
    background: transparent;
}

.pagination {
    box-sizing: border-box;
    /*width: 100%;*/
    width: auto;
    height: 60px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    font-family: "Droid Sans", sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.pagination a {
    box-sizing: inherit;
    text-align: center;
    display: inline-block;
    background-color: white;
    color: deepskyblue;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
    min-width: 40px;

    transition: background-color .3s;
    -webkit-transition: width 0.1s ease-in-out;
    transition: width, opacity, transform 0.1s ease-in-out;
}

.pagination a.active {
    background-color: deepskyblue;
    border: none;
    color: white;
}

.pagination a:hover:not(.active) {
    opacity: 0.5;
    transform: scale(0.95, 0.95); /* Standard syntax */
}

form.search-form {
    position: relative;
    display: inline;
}

.publication-list-controls {
    white-space: nowrap;
    display: inline;
}

.search-form {
    box-sizing: content-box;
    position: relative;
}

.search-input {
    background-image: url("../images/design/search.png");
    background-position: 10px 10px;
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 0px 10px 0px 60px;
    position: relative;
    border-radius: 10px;
    font-size: 20px;
    width: 600px;
    max-width: 60%;
    height: 70px;
    margin: 0px;
    position: relative;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width, transform 0.4s ease-in-out;
}

form.search-form .search-button {
    position: relative;
    max-width: 100px;
    width: 70px;
    height: 70px;
    background-color: #10ba00;
    color: white;
    font-size: 20px;
    margin: 18px auto;
    display: inline-block;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;

    border-radius: 10px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: center;
    font-size: 30px;

    padding: 10px;
}

form.search-form .search-button:hover {
    background-color: #14e200;
}

header.publication-header {
    background: url("../images/design/header_image.jpg") no-repeat center;
    background-size: 100% auto;
    height: 200px;
    width: 100%;
    position: relative;
    top: 0;
}

.header-title {
    position: absolute;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.31);
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    border-left: 25px solid #E65634;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;

    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

.header-title p {
    margin: auto;
}

.publication-info {
    position: relative;
    min-height: 90%;
    width: 100%;
}

.publication-info img {
    width: 100%;
    /*max-height: 100%;*/
    /*max-width: 100%;*/
    object-fit: cover;
    /*float: left;*/
    position: relative;
    /*margin: 20px;*/
    border-radius: 5px;
    display: block;
}