<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="description" content="404 Error, page not found">
    <meta name="author" content="Danil Kazimirov">
</head>
<body>
<header id="error_header">
    <blockquote>
        THIS CITY NEEDS A PAGE
    </blockquote>
</header>
</body>
</html>