<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>
        <%= name %>
    </title>
</head>
<body>
<div class="polaroid">
    <div class="header">
        <H1>
            <%= secondName + " " + name %>
        </H1>
    </div>
    <!--<img class="my_photo" src="./res/myPhoto.jpg">-->
</div>
<div class="polaroid">
    <div class="header">
        <H2>
            My alma mater is <%=almamater%>
        </H2>
    </div>
    <img class="my_photo" src="http://static.panoramio.com/photos/large/63805777.jpg">
</div>

<div class="polaroid">
    <ul>
        <p>Birth: <b>15.02.1999</b> (18 years)</p>
        <address>Kyiv, Kovalskiy st. 5, 420</address>
        <lh><h4>My hobbies:</h4></lh>
        <li>programming</li>
        <li>reading books</li>
        <li>walk with friends</li>
        <li>learn new things</li>
        <li>videomaking</li>
    </ul>
</div>
<div class="polaroid">
    <ul>
        <lh><h4>My programming skills</h4></lh>
        <li>C, C++</li>
        <li>Java</li>
        <li>Pascal</li>
        <li>Delphi</li>
        <li>JavaScript</li>
        <li>HTML, CSS</li>
    </ul>
    <ol>
        <lh><h4>My projects:</h4></lh>
        <li>Sea Battle</li>
        <li>GameGL</li>
        <li>Facecope</li>
        <li>Homeworks and labs for Ra</li>
    </ol>
    <p>Link to my <a href="https://telegram.me/ZulusK">telegram</a></p>
</div>
</body>
</html>