<template>
  <div id="app">
    <v-app>
      <x-login :toggle="UI.login.open"/>
      <x-register :toggle="UI.register.open"/>
      <x-header
        :title="UI.header.title"
        @toggleSidebar="toggleSidebar()"
        @login="toggleLogin()"
        @logout="logout()"
        @register="toggleRegister()"
      />
      <v-content>
        <router-view
          @login="toggleLogin()"
          @logout="logout()"
          @register="toggleRegister()"
        />
      </v-content>
      <x-footer/>
      <x-sidebar
        :open="UI.sidebar.open"
      />
    </v-app>
  </div>
</template>

<script>
  import xHeader from '@/components/globals/header'
  import xSidebar from '@/components/globals/sidebar'
  import xFooter from '@/components/globals/footer'
  import xLogin from '@/components/auth/Login'
  import xRegister from '@/components/auth/Register'

  export default {
    name: 'app',
    components: {
      xHeader,
      xSidebar,
      xFooter,
      xLogin,
      xRegister
    },
    data () {
      return {
        UI: {
          header: {
            title: "Lab9"
          },
          login: {
            open: false
          },
          register: {
            open: false
          },
          sidebar: {
            open: false,
          }
        }
      }
    },
    methods: {
      setHeader (args) {
        for (key in args) {
          this.UI.header[key] = args[key];
        }
      },
      toggleSidebar () {
        this.UI.sidebar.open = !this.UI.sidebar.open;
      },
      toggleLogin () {
        this.UI.login.open = !this.UI.login.open;
      },
      toggleRegister () {
        this.UI.register.open = !this.UI.register.open;
      },
      logout () {
        this.$store.dispatch('setToken_access', null);
        this.$store.dispatch('setToken_refresh', null);
        this.$store.dispatch('setUser', null);
      },
    }
  }
</script>

<style lang="scss">
  @import "~material-colors/dist/colors";

  #app {
    background: radial-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.5)
    ), url('https://source.unsplash.com/random') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
    word-wrap: break-word;
  }
</style>
