<template>
  <v-dialog v-model="UI.show" max-width="500px">
    <v-card color="white" class="blue-grey--text text--darken-4 ">
      <v-card-title primary-title>
        <v-layout align-center row wrap>
          <v-flex text-xs-center xs12 class="blue pa-3" icon>
            <span class="group display-3 white--text">
              <v-icon class=" display-3" color="white">fa-shield</v-icon>
              Login
            </span>
          </v-flex>
        </v-layout>
      </v-card-title>
      <v-card-text>
        <v-container fluid>
          <v-layout row>
            <v-flex xs12>
              <v-text-field
                name="email"
                prepend-icon="email"
                :append-icon="setIcon('email')"
                label="Email"
                type="text"
                v-model="credentials.email"
                v-validate="'required|auth.login.email'"
                :rules="setRules('email')"
                validate-on-blur
                id="email"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12>
              <v-text-field
                prepend-icon="lock"
                name="password"
                label="Password"
                v-validate="'required|auth.login.password'"
                :rules="setRules('password','password','passwordConfirm')"
                validate-on-blur
                :type="UI.showPassword?'text':'password'"
                :append-icon="!UI.showPassword ? 'visibility' : 'visibility_off'"
                :append-icon-cb="() => (UI.showPassword = !UI.showPassword)"
                v-model="credentials.password"
                id="password"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-btn flat color="success" @click.stop="login()" :disabled="isDisabledButtonLogin">Login</v-btn>
        <v-btn flat color="error" @click.stop="close()">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
  import AuthAPI from '@/services/Auth';

  export default {
    components: {},
    data () {
      return {
        credentials: {
          email: '',
          password: ''
        },
        UI: {
          show: false,
          showPassword: false
        }
      }
    },
    methods: {
      setIcon: function (field) {
        return (!this.errors.first(field)) ? 'done' : 'warning'
      },
      setRules: function (field) {
        return (!this.errors.first(field)) ? [true] : [this.errors.first(field)];
      },
      close () {
        this.UI.show = false;
      },
      show () {
        this.UI.show = true;
        if (this.$store.getters.isLogged()) {
          this.close();
        }
      },
      login: async function () {
        try {
          const response = await AuthAPI.login(this.credentials);
          const data = response.data;
          if (data) {
            // check, had server send user info
            if (data.success) {
              this.$store.dispatch('setToken_access', response.data.tokens.access);
              this.$store.dispatch('setToken_refresh', response.data.tokens.refresh);
              this.$store.dispatch('setUser', response.data.user);
              this.close();
            }
          }

        } catch (e) {
          console.log(e)
        }
      }
    },
    props: [
      "toggle"
    ],
    watch: {
      toggle () {
        if (this.UI.show) {
          this.close()
        } else {
          this.show();
        }
      }
    },
    computed: {
      isDisabledButtonLogin () {
        return this.credentials.password.length == 0
          || this.credentials.email.length == 0
          || this.errors.has('email')
          || this.errors.has('password')
      },
    }
  }
</script>
<style lang="scss" scoped>
</style>
