<template>
  <v-dialog v-model="UI.show" max-width="500px">
    <v-card color="white" class="blue-grey--text text--darken-4 ">
      <v-card-title primary-title>
        <v-layout align-center row wrap>
          <v-flex text-xs-center xs12 class="light-blue pa-3" icon>
            <span class="group display-3 white--text">
              <v-icon class=" display-3" color="white">fa-user</v-icon>
              Register
            </span>
          </v-flex>
        </v-layout>
      </v-card-title>
      <v-card-text>
        <v-container fluid>
          <v-layout row>
            <v-flex xs12>
              <v-text-field
                name="fullname"
                prepend-icon="person"
                label="Full name"
                type="text"
                v-model="credentials.fullname"
                v-validate="'required|auth.register.fullname'"
                :append-icon="setIcon('fullname')"
                :rules="setRules('fullname')"
                validate-on-blur
                id="fullname"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12>
              <v-text-field
                prepend-icon="fa-telegram"
                name="telegram"
                label="Your Telegram"
                v-model="credentials.telegram"
                id="telegram"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12>
              <v-text-field
                name="email"
                prepend-icon="email"
                label="Email"
                type="text"
                v-model="credentials.email"
                v-validate="'required|auth.register.email'"
                :append-icon="setIcon('email')"
                :rules="setRules('email')"
                validate-on-blur
                id="email"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12>
              <v-text-field
                prepend-icon="lock"
                name="password"
                label="Password"
                v-validate="'required|auth.register.password'"
                :type="UI.showPassword?'text':'password'"
                :append-icon="!UI.showPassword ? 'visibility' : 'visibility_off'"
                :append-icon-cb="() => (UI.showPassword = !UI.showPassword)"
                :rules="setRules('password','password','passwordConfirm')"
                validate-on-blur
                v-model="credentials.password"
                id="password"
                loading
              >
                <v-progress-linear slot="progress" :value="progress" height="3" :color="color"></v-progress-linear>
              </v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12>
              <v-text-field
                prepend-icon="lock"
                name="passwordConfirm"
                label="Password Confirm"
                v-validate="'required'"
                :type="UI.showPasswordConfirm?'text':'password'"
                :append-icon="!UI.showPasswordConfirm ? 'visibility' : 'visibility_off'"
                :append-icon-cb="() => (UI.showPasswordConfirm = !UI.showPasswordConfirm)"
                :rules="setRules('passwordConfirm','password','passwordConfirm')"
                validate-on-blur
                v-model="credentials.passwordConfirm"
                id="passwordConfirm"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-btn flat color="success" @click.stop="register()" :disabled="isDisabledButtonRegister">Register</v-btn>
        <v-btn flat color="error" @click.stop="close()">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
  import AuthAPI from '@/services/Auth';

  export default {
    components: {},
    data () {
      return {
        credentials: {
          email: "",
          password: "",
          fullname: "",
          passwordConfirm: "",
        },
        UI: {
          show: false,
          showPassword: false,
          showPasswordConfirm: false
        },
      }
    },
    computed: {
      isDisabledButtonRegister () {
        return this.credentials.password.length == 0
          || this.credentials.email.length == 0
          || this.credentials.fullname.length == 0
          || this.credentials.passwordConfirm.length == 0
          || this.errors.has('email')
          || this.errors.has('fullname')
          || this.errors.has('password')
          || this.errors.has('passwordConfirm')
      },
      userData () {
        return {
          email: this.credentials.email,
          password: this.credentials.password,
          fullname: this.credentials.fullname,
          telegram: this.credentials.telegram
        }
      },
      progress () {
        return Math.min(100, this.credentials.password.length * 10)
      },
      color () {
        return ['error', 'warning', 'success'][Math.floor(this.progress / 40)]
      }
    },
    methods: {
      setIcon: function (field) {
        return (!this.errors.first(field)) ? 'done' : 'warning'
      },
      setRules: function (field, confirmWith, confirmWhat) {
        if (!this.errors.first(field)) {
          if (!confirmWith) {
            return [true];
          } else if (this.credentials[confirmWhat] != this.credentials[confirmWith]) {
            return ['Confirmation field does not math'];
          }
        } else return [this.errors.first(field)];
      },
      close () {
        this.UI.show = false;
      },
      show () {
        this.UI.show = true;
        if (this.$store.getters.isLogged()) {
          this.close();
        }
      },
      register: async function () {
        if (await this.$validator.validateAll()) {
          try {
            const response = await AuthAPI.register(this.userData);
            const data = response.data;
            if (data) {
              // check, had server send user info
              if (data.success) {
                this.$store.dispatch('setToken_access', response.data.tokens.access);
                this.$store.dispatch('setToken_refresh', response.data.tokens.refresh);
                this.$store.dispatch('setUser', response.data.user);
                alert('registered');
                this.close();
              }
            }
          } catch (e) {
            console.log(e)
          }
        }
      }
    },
    props: [
      "toggle"
    ],
    watch: {
      toggle () {
        if (this.UI.show) {
          this.close()
        } else {
          this.show();
        }
      },
    }
  }
</script>
<style lang="scss" scoped>
</style>
