@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300italic,400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Six+Caps:400);
/*elements and tags*/
body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #1c1c1c;
    /*word-wrap: break-word;*/
}

/*headers*/
header {
    width: 100%;
    top: 0px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 0px;
}

#publication_header {
    background: url("../images/header_image.jpg") no-repeat center;
    background-size: 100% auto;
    vertical-align: middle;
    height: 200px;
    width: 100%;
    position: fixed;
}

#into_header {
    background: url("../images/workplace.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
}

#error_header {
    background: url("../images/404.jpg") no-repeat fixed center;
    background-size: cover;
    height: 100%;
}

.header_title {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.31);
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    border-left: 25px solid #E65634;
    margin: 40px auto;
    font-size: 60px;
    font-weight: 600;
    max-width: 60%;
    min-width: 300px;
    text-align: center;
}

button.standalone {
    background-color: transparent;
    border-radius: 2px;
    text-align: center;
    padding-left: 10px;
    font-size: 30px;
    color: white;
    width: auto;
    border: 3px solid #E65634;
    box-shadow: 0px -10px 60px rgba(6, 4, 4, 0.82);
    transition: background-color 0.3s, border-radius 0.3s;
}

button.standalone:hover {
    background-color: #E65634;
    box-shadow: 0px -10px 60px rgba(6, 4, 4, 0);
    border-radius: 40px;
}

button.standalone {
    margin: 20px auto;
}

.content {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -10px;
    background-color: #1c1c1c;
    z-index: 2;
    position: relative;
    min-height: 1000px;
}

.publication img {
    width: 500px;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    float: left;
    position: relative;
    margin: 20px;
    border-radius: 5px;
    display: block;
}

.content.publication {
    margin-top: 200px;
    min-height: 90%;
    width: 100%;
    position: relative;
}

.shadowed {
    box-shadow: 0px -10px 60px rgba(6, 4, 4, 0.82);
}

.shadowed-inner {
    box-shadow: 0px 0px 10px rgba(6, 4, 4, 0.82) inset;
}
/*retro text style*/
.retro_text {
    position: relative;
    margin: 10% auto;
    width: 540px;
    color: rgba(231, 229, 228, 1);
}

.retro_text .shadow {
    color: rgba(231, 229, 228, 1);
    font-family: Arvo;
    font-weight: bold;
    text-shadow: -3px -3px 0 #222,
    3px -3px 0 #222,
    -3px 3px 0 #222,
    3px 3px 0 #222,
    4px 4px 0 rgba(231, 229, 228, 1),
    5px 5px 0 rgba(231, 229, 228, 1),
    6px 6px 0 rgba(231, 229, 228, 1),
    7px 7px 0 rgba(231, 229, 228, 1);
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.9);
    -webkit-transform: scaleY(0.9);
    -moz-transform: scaleY(0.9);
    margin: 0;
    text-align: center;
}

.retro_text .script {
    font-family: "Seaweed Script";
    color: rgba(231, 229, 228, 1);
    text-align: center;
    position: relative;
    font-size: 40px;
    margin: 0;
}

.retro_text .script span {
    padding: 0 0.3em;
}

.retro_text .script:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 35%;
    left: 65%;
    border-bottom: 3px solid rgba(231, 229, 228, 1);
}

.retro_text .script:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 35%;
    border-bottom: 3px solid rgba(231, 229, 228, 1);
}

.retro_text .text1 {
    font-size: 80px;
}

.retro_text .text2 {
    font-size: 160px;
}

.retro_text .text3 {
    font-size: 120px;
}

/*shadow effect for text*/
.elegantshadow {
    /*text settigns*/
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    font-weight: 100;
    padding: 80px 50px;
    text-align: center;
    margin: -10px 0% 0% 0%;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #131313;
    /*shadow effect*/
    background-color: rgba(231, 229, 228, 1);
    letter-spacing: .15em;
    text-shadow: 1px -1px 0 #767676,
    -1px 2px 1px #737272,
    -2px 4px 1px #767474,
    -3px 6px 1px #787777,
    -4px 8px 1px #7b7a7a,
    -5px 10px 1px #7f7d7d,
    -6px 12px 1px #828181,
    -7px 14px 1px #868585,
    -8px 16px 1px #8b8a89,
    -9px 18px 1px #8f8e8d,
    -10px 20px 1px #949392,
    -11px 22px 1px #999897,
    -12px 24px 1px #9e9c9c,
    -13px 26px 1px #a3a1a1,
    -14px 28px 1px #a8a6a6,
    -15px 30px 1px #adabab,
    -16px 32px 1px #b2b1b0,
    -17px 34px 1px #b7b6b5,
    -18px 36px 1px #bcbbba,
    -19px 38px 1px #c1bfbf,
    -20px 40px 1px #c6c4c4,
    -21px 42px 1px #cbc9c8,
    -22px 44px 1px #cfcdcd,
    -23px 46px 1px #d4d2d1,
    -24px 48px 1px #d8d6d5,
    -25px 50px 1px #dbdad9,
    -26px 52px 1px #dfdddc,
    -27px 54px 1px #e2e0df,
    -28px 56px 1px #e4e3e2;
}

/*dark text style*/
div.dark {
    padding-right: 5%;
    padding-left: 5%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: #1c1c1c;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    max-width: 100%;
    text-align: justify;
}

div.dark h1, h2, h3 {
    color: #fff;
    font-family: 'Droid Serif';
    border-bottom: 3px solid #E65634;
    border-top: 3px solid #E65634;
    /*font-size: 42px;*/
    font-weight: 400;
    line-height: 1.2em;
    margin: 0px auto 45px;
    max-width: 600px;
    padding: 45px 0;
    text-align: center;
}

div.dark p {
    color: #fff;
    font-family: 'Ubuntu';
    padding-left: 20%;
    padding-right: 2%;
}

p.dark {
    border-right: 3px solid #E65634;
}

div.dark ul, ol {
    color: #fff;
    font-family: 'Ubuntu';
    margin: 5px auto 5px;
}

div.dark li:hover {
    color: #cc141c;
}

div.dark a {
    color: #E65634;
}

div.dark a:hover {
    color: #fff;
}

/*light theme of text*/
div.light {
    background-color: rgba(231, 229, 228, 1);
}

div.light h1 {
    color: #cc141c;
    font-family: 'Squada One';
    font-size: 60px;
    line-height: 54px;
    margin-bottom: 72px;
}

div.light h1:before {
    background: #cc141c;
    content: '';
    display: block;
    height: 12px;
    margin-bottom: 36px;
    width: 72px;
}

div.light p {
    color: #574432;
    font-family: 'Libre Baskerville';
    font-size: 20px;
    line-height: 36px;
    margin: 0px 25% 0%;
    padding: 0px;
}

div.light a {
    color: #ec7309;
    font-style: italic;
}

div.light a:hover {
    color: #cc141c;
}

/*flexes*/
.flex-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    margin: 2% 10%;
}

.flex-item {
    flex-grow: 1;
    flex-basis: 25%;
    flex-shrink: 1;
    margin: 2%;
}

.cards_list {
    /*margin: 0px;*/
    background: url("../images/bg.jpg") no-repeat center fixed;
    background-size: cover;
    border: transparent 1px solid;
}

/*publication cards style*/
.publication_card {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    min-width: 300px;
    max-width: 300px;
    color: #1c1c1c;
    overflow: hidden;
    box-shadow: 0px -10px 60px rgba(6, 4, 4, 0.5);
    transition: transform 0.4s;
}

.publication_card:hover {
    box-shadow: 0px -10px 30px rgba(6, 4, 4, 0.3);
    padding: 0px;
    transform: scale(1.1, 1.1); /* Standard syntax */
}

.publication_card img {
    height: 280px;
    width: 280px;
    object-fit: cover;
    object-position: center;

    border-radius: 50%;
    margin-top: 2%;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

.publication_card .description {
    margin: 10px;
    line-height: 20px;
    font-size: 15px;
    text-align: justify;
}

.publication_card .header {
    color: white;
    line-height: 50px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    height: auto;
}

.publication_card .green {
    background-color: #0c8300;
}

.publication_card .white {
    /*background-color: #f6fff4;*/
    color: deepskyblue;
}

.publication_card .orange {
    background-color: #ffaf00;
}

.publication_card .red {
    background-color: #ff2800;
}

.publication_card a {
    text-decoration: none;
    color: inherit;
}

blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
    background: rgba(14, 14, 14, 0.43);
    padding: .5em 10px;
    color: #ffffff;
    font-family: 'Six Caps';
    font-size: 150px;
    font-weight: 400;
    text-indent: -60px;
    max-width: 70%;
    margin: 30% auto;
    bottom: 5%;
}

blockquote:before {
    color: #ffffff;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}

input[type=text]:hover,
textarea:hover,
textarea:focus,
input[type=text]:focus {
    transform: scale(1.1, 1.1); /* Standard syntax */
}

input[name=author] {
    background-image: url("../images/user.png");
}

input[name=link] {
    background-image: url("../images/telegram.png");
}

input[name=description] {
    background-image: url("../images/ingo.png");
}

input[name=title] {
    background-image: url("../images/title.png");
}

input[type=search] {
    background-image: url("../images/search.png");
}

input[name^="tag"] {
    background-image: url("../images/tag.png");
    width: 90%;
}

input[type=file] {
    background-image: url("../images/images.png");
}

textarea {
    display: block;
    margin: 10px 0 0 -10px;
    resize: none;
    overflow: auto;
}

input, textarea, select, button, output {
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 20px;
    width: 100%;
    background-color: #FFF;
    min-height: 60px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset;
    width: 100%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width, transform 0.4s ease-in-out;

    /*margin-bottom: 30px;*/
    padding: 12px 10px 12px 60px;
    margin: 8px 0;
    /*display: inline-block;*/
    /*border: 1px solid #9f9f9f;*/
    color: #1c1c1c;
    border-radius: 6px;
    box-sizing: border-box;
    background-position: 10px 10px;
    background-size: 40px;
    background-repeat: no-repeat;
}

output {

    background: transparent;
    color: white;
    border: none;
    box-shadow: none;
    width: 15%;
    height: 40px;
    min-height: 10px;
    border-radius: 1px;
    text-align: center;
    align-self: center;
    /*display: block;*/
    padding: 10px;
    margin: 0px auto;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2em;
}

input[type=submit]:hover, .addTagBtn:hover {
    background-color: #6fff75;
}

.form-style {
    width: 500px;
    padding: 10px 20px;
    background: #1f1f1f;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8) inset;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

.search-form {
    width: 600px;
    min-width: 60%;
    margin: auto;
    padding: 0px;
    background: transparent;
    box-shadow: none;
}

.search-form input[type=search] {
    width: 70%;
    margin: 5px 5px 5px 5px;

    /*padding: 0px;*/
}

.search-form input[type=submit] {
    max-width: 100px;
    width: 20%;
    margin: 5px;
    padding: 10px;
}

.form-style legend {
    font-size: 2em;
    margin-bottom: 10px;
    color: white;

}

fieldset {
    border: none;
    margin: auto;
    display: block;
}

.center {
    margin: auto;
    width: 100%;
    text-align: center;
}

fieldset .number {
    background: #cd2000;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px 15px 0px;
}

.deleteButton {
    background-image: url("../images/delete.png");
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;

    width: 30px;
    min-height: 30px;
    height: 30px;

    color: white;
    background-color: #af1800;
    margin-left: 15px;
    margin-top: 30px;
    /*display: block;*/
    border: none;
    border-radius: 100%;
    cursor: pointer;
    padding: 0;
    /*display: inline-block;*/
    /*border: 1px solid #9f9f9f;*/
}

.deleteButton:hover {
    background-color: #ff2300;
}

.addTagBtn {
    background-image: url("../images/add.png");
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    display: block;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 1px;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    min-height: 10px;
    padding: 0px;
}

.slider:focus, .slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #ff2400;
    cursor: pointer;

}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

* {
    /*border: red solid 1px;*/
}

.pagination {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.pagination a {
    box-sizing: inherit;
    /*border-radius: 5px;*/
    /*text-align: center;*/
    display: inline-block;
    /*margin: auto;*/
    background-color: white;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
    min-width: 40px;

    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.notFindMsg {
    width: 70%;
    margin: 30px auto;

    justify-content: center;
    align-items: center;
    justify-content: center;
    font-family: Verdana, sans-serif;
    font-size: 60px;
    line-height: 2;
    color: white;
    border-radius: 10px;
    background-color: rgba(28, 28, 28, 0.82);
}