<footer>
    <section class="hero  bg-light ">
        <div class="container is-fullwidth has-text-centered bg-light">
            Danil Kazimirov, 2017
        </div>
        <div class="hero-foot bg-light">
            <div class="tabs is-centered is-boxed">
                <ul>
                    <li><a href="/">About</a></li>
                    <li><a href="https://www.instagram.com/idanilk/" target="_blank"><span class="icon is-medium"><i
                                        class="fa fa-instagram fa-2x"></i> </span></a></li>
                    <li><a href="https://web.telegram.org/#/im?p=@ZulusK" target="_blank"><span
                                    class="icon is-medium"><i
                                        class="fa fa-telegram fa-2x"></i> </span></a>
                    </li>
                    <li><a href="/api/v1">API</a></li>
                </ul>
            </div>
        </div>
    </section>
</footer>