<header class="navbar is-light is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-medium" id="header-isAdmin">
        <span class="icon is-medium" title="You are admin">
            <i class="fa fa-shield fa-2x"></i>
        </span>
        </a>
        <a class="navbar-item is-medium" id="header-isUser">
        <span class="icon is-medium" title="You are user">
            <i class="fa fa-user fa-2x"></i>
        </span>
        </a>
        <a class="navbar-item is-medium" id="header-avatar-container" title="Show your publications">
            <figure class="image is-32x32">
                <img id="header-avatar" class="gravatar-image" alt="avatar" onerror="usePlaceholder(this,'/images/user.png')">
            </figure>
        </a>
        <a href="/" class="navbar-item is-medium">
                <span class="icon">
                    <i class="fa fa-home fa-2x"></i>
                </span>
        </a>
        <a href="/publications" class="navbar-item is-medium">
            <span class="icon">
                    <i class="fa fa-newspaper-o fa-2x"></i>
                </span>
        </a>
        <a class="navbar-item is-medium" id="header-add-publication" title="Create new publication"
           href="/publications/new">
        <span class="icon is-medium">
            <i class="fa fa-plus fa-2x"></i>
        </span>
        </a>
        <button class="button navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
            <a href="/auth/login" class="navbar-item is-medium" id="header-login-btn">
                <span class="is-size-4">Log in</span>
            </a>
            <a href="/auth/registration" class="navbar-item is-medium" id="header-register-btn">
                <span class="is-size-4">Sign up</span>
            </a>
            <a class="navbar-item is-medium" id="header-logout-btn">
                <span class="is-size-4">Log out</span>
            </a>
        </div>
    </div>
</header>