<script id="template-pagination-item" type="x-tmpl-mustache">
    <li>
        <a class="pagination-link {{#current}}is-current{{/current}}" aria-label="Go to page {{page}}">
            {{page}}
        </a>
    </li>

</script>

<script id="template-pagination-next" type="x-tmpl-mustache">
    <a class="pagination-next {{#current}}is-current{{/current}}">
        <span class="icon">
            <i class="fa fa-arrow-right "></i>
        </span>
    </a>

</script>
<script id="template-pagination-prev" type="x-tmpl-mustache">
    <a class="pagination-previous {{#current}}is-current{{/current}}">
        <span class="icon">
            <i class="fa fa-arrow-left"></i>
        </span>
    </a>

</script>

<script id="template-pagination-spacer" type="x-tmpl-mustache">
    <li><span class="pagination-ellipsis">&hellip;</span></li>

</script>