@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300italic,400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Six+Caps:400);
/*elements and tags*/
body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #1c1c1c;
}

/*headers*/
header {
    width: 100%;
    top: 0px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 0px;
}

#publication_header {
    background: url("../res/header_image.jpg") no-repeat center;
    background-size: 100% auto;
    vertical-align: middle;
    height: 200px;
    position: fixed;
}

#into_header {
    background: url("../res/workplace.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
}

#error_header {
    background: url("../res/404.jpg") no-repeat fixed center;
    background-size: cover;
    height: 100%;
}

.header_title {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.31);
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    border-left: 25px solid #E65634;
    margin: 40px auto;
    font-size: 8vh;
    font-weight: 600;
    max-width: 60%;
    text-align: center;
}

button {
    background-color: transparent;
    border-radius: 2px;
    font-size: 30px;
    color: white;
    border: 3px solid #E65634;
    box-shadow: 0px -10px 60px rgba(6, 4, 4, 0.82);
    transition: background-color 0.3s, border-radius 0.3s;
}

button:hover {
    background-color: #E65634;
    box-shadow: 0px -10px 60px rgba(6, 4, 4, 0);
    border-radius: 40px;
}

form {
    margin: 20px auto;
}

.content {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -10px;
    background-color: #1c1c1c;
    z-index: 2;
    position: relative;
}
.publication img {
    width: 500px;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    float: left;
    position: relative;
    margin: 20px;
    border-radius: 5px;
    display: block;
}

.content.publication {
    margin-top: 200px;
    min-height: 90%;
    position: relative;
}

.shadowed {
    box-shadow: 0px -10px 60px rgba(6, 4, 4, 0.82);
}

/*retro text style*/
.retro_text {
    position: relative;
    margin: 10% auto;
    width: 540px;
    color: rgba(231, 229, 228, 1);
}

.retro_text .shadow {
    color: rgba(231, 229, 228, 1);
    font-family: Arvo;
    font-weight: bold;
    text-shadow: -3px -3px 0 #222,
    3px -3px 0 #222,
    -3px 3px 0 #222,
    3px 3px 0 #222,
    4px 4px 0 rgba(231, 229, 228, 1),
    5px 5px 0 rgba(231, 229, 228, 1),
    6px 6px 0 rgba(231, 229, 228, 1),
    7px 7px 0 rgba(231, 229, 228, 1);
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.9);
    -webkit-transform: scaleY(0.9);
    -moz-transform: scaleY(0.9);
    margin: 0;
    text-align: center;
}

.retro_text .script {
    font-family: "Seaweed Script";
    color: rgba(231, 229, 228, 1);
    text-align: center;
    position: relative;
    font-size: 40px;
    margin: 0;
}

.retro_text .script span {
    padding: 0 0.3em;
}

.retro_text .script:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 35%;
    left: 65%;
    border-bottom: 3px solid rgba(231, 229, 228, 1);
}

.retro_text .script:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 35%;
    border-bottom: 3px solid rgba(231, 229, 228, 1);
}

.retro_text .text1 {
    font-size: 80px;
}

.retro_text .text2 {
    font-size: 160px;
}

.retro_text .text3 {
    font-size: 120px;
}

/*shadow effect for text*/
.elegantshadow {
    /*text settigns*/
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    font-weight: 100;
    padding: 80px 50px;
    text-align: center;
    margin: -10px 0% 0% 0%;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #131313;
    /*shadow effect*/
    background-color: rgba(231, 229, 228, 1);
    letter-spacing: .15em;
    text-shadow: 1px -1px 0 #767676,
    -1px 2px 1px #737272,
    -2px 4px 1px #767474,
    -3px 6px 1px #787777,
    -4px 8px 1px #7b7a7a,
    -5px 10px 1px #7f7d7d,
    -6px 12px 1px #828181,
    -7px 14px 1px #868585,
    -8px 16px 1px #8b8a89,
    -9px 18px 1px #8f8e8d,
    -10px 20px 1px #949392,
    -11px 22px 1px #999897,
    -12px 24px 1px #9e9c9c,
    -13px 26px 1px #a3a1a1,
    -14px 28px 1px #a8a6a6,
    -15px 30px 1px #adabab,
    -16px 32px 1px #b2b1b0,
    -17px 34px 1px #b7b6b5,
    -18px 36px 1px #bcbbba,
    -19px 38px 1px #c1bfbf,
    -20px 40px 1px #c6c4c4,
    -21px 42px 1px #cbc9c8,
    -22px 44px 1px #cfcdcd,
    -23px 46px 1px #d4d2d1,
    -24px 48px 1px #d8d6d5,
    -25px 50px 1px #dbdad9,
    -26px 52px 1px #dfdddc,
    -27px 54px 1px #e2e0df,
    -28px 56px 1px #e4e3e2;
}

/*dark text style*/
div.dark {
    padding-right: 5%;
    padding-left: 5%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: #1c1c1c;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    max-width: 100%;
    text-align: justify;
}

div.dark h1, h2, h3 {
    color: #fff;
    font-family: 'Droid Serif';
    border-bottom: 3px solid #E65634;
    border-top: 3px solid #E65634;
    /*font-size: 42px;*/
    font-weight: 400;
    line-height: 1.2em;
    margin: 0px auto 45px;
    max-width: 600px;
    padding: 45px 0;
    text-align: center;
}

div.dark p {
    color: #fff;
    font-family: 'Ubuntu';
    padding-left: 20%;
    padding-right: 2%;
}

p.dark {
    border-right: 3px solid #E65634;
}

div.dark ul, ol {
    color: #fff;
    font-family: 'Ubuntu';
    margin: 5px auto 5px;
}

div.dark li:hover {
    color: #cc141c;
}

div.dark a {
    color: #E65634;
}

div.dark a:hover {
    color: #fff;
}

/*light theme of text*/
div.light {
    background-color: rgba(231, 229, 228, 1);
}

div.light h1 {
    color: #cc141c;
    font-family: 'Squada One';
    font-size: 60px;
    line-height: 54px;
    margin-bottom: 72px;
}

div.light h1:before {
    background: #cc141c;
    content: '';
    display: block;
    height: 12px;
    margin-bottom: 36px;
    width: 72px;
}

div.light p {
    color: #574432;
    font-family: 'Libre Baskerville';
    font-size: 20px;
    line-height: 36px;
    margin: 0px 25% 0%;
    padding: 0px;
}

div.light a {
    color: #ec7309;
    font-style: italic;
}

div.light a:hover {
    color: #cc141c;
}

/*flexes*/
.flex-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    margin: 2% 10%;
}

.flex-item {
    flex-grow: 1;
    flex-basis: 25%;
    flex-shrink: 1;
    margin: 2%;
}

.cards_list {
    margin: 0px;
    background: url("../res/bg.jpg") no-repeat center fixed;
    background-size: cover;
    border: transparent 1px solid;
}

/*publication cards style*/
.publication_card {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    min-width: 300px;
    max-width: 300px;
    color: #1c1c1c;
    overflow: hidden;
    box-shadow: 0px -10px 60px rgba(6, 4, 4, 0.5);
    transition: transform 0.4s;
}

.publication_card:hover {
    box-shadow: 0px -10px 30px rgba(6, 4, 4, 0.3);
    padding: 0px;
    transform: scale(1.1, 1.1); /* Standard syntax */
}

.publication_card img {
    height: 280px;
    width: 280px;
    object-fit: cover;
    object-position: center;

    border-radius: 50%;
    margin-top: 2%;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

.publication_card .description {
    margin: 10px;
    line-height: 20px;
    font-size: 15px;
    text-align: justify;
}

.publication_card .header {
    background-color: #ffaf00;
    color: white;
    line-height: 50px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    height: auto;
}

.publication_card a {
    text-decoration: none;
    color: inherit;
}

blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
    background: rgba(14, 14, 14, 0.43);
    padding: .5em 10px;
    color: #ffffff;
    font-family: 'Six Caps';
    font-size: 150px;
    font-weight: 400;
    text-indent: -60px;
    max-width: 70%;
    margin: 30% auto;
    bottom: 5%;
}

blockquote:before {
    color: #ffffff;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}
