<script type="x-tmpl-mustache" id="template-card-error">
<div class="column  is-6 is-offset-3">
<div class="card">
<div class="card-header">
<div class="is-centered card-header-title notification is-danger">
            <p class="title">Ooops</p>
        </div>
        </div>
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="/images/cat.jpg"
                 alt="Грустна киця">
        </figure>
    </div>
    <div class="card-content notification is-warning">
        <div class="content ">
            <p class="is-size-3">
                {{message}}
            </p>
        </div>
    </div>
</div>
</div>



</script>