<!--<script type="x-tmpl-mustache" id="template-create-tags">-->
<div class="is-hidden" id="template-create-tag">
    <div class="control" id="$!_{{text}}">
        <div class="tags has-addons">
            <span class="tag is-info">{{text}}</span>
            <a class="tag is-delete is-warning" onclick="removeTag('{{text}}')"></a>
        </div>
    </div>
</div>
<!--</script>-->