<script type="x-tmpl-mustache" id="template-modal">
<div class="modal" id='{{id}}'>
    <div class="modal-background" onclick="Tools.closeModal('{{id}}')"></div>
    <div class="modal-card">
        <div class="notification {{style}}">
            <p class="is-size-3">{{title}}</p>
            {{text}}
            <div class="field">
            {{#text_button_1}}
                <button class="button {{style_button_1}}" onclick="{{onButton1}}">{{text_button_1}}</button>
                {{/text_button_1}}
                {{#text_button_2}}
                <button class="button {{style_button_2}}" onclick="{{onButton2}}">{{text_button_2}}</button>
                {{/text_button_2}}
            </div>
        </div>
    </div>
</div>




</script>
