<script type="x-tmpl-mustache" id="template-publication-view">
<!--<div class="is-hidden" id="template-publication-view">-->
    <div class="card h-85">
        <div class="card-image">
            <figure class="image">
                <img src="/api/v1/res?id={{image_id}}" alt="image" class="publication-image" id="logo" onerror="usePlaceholder(this)">
            </figure>
        </div>
        <div class="card-header">
            <div class="is-centered card-header-title notification
             {{#easy}}is-primary{{/easy}}
             {{#medium}}is-warning{{/medium}}
             {{#hard}}is-danger{{/hard}}">
                {{description}}
            </div>
        </div>
        <div class="card-content container">
            <div class="media">
                                <a href="/publications?author={{author_id}}">
                <figure class="media-left image is-128x128">
                    <img class="author-avatar" alt="avatar" src="/images/user.png">
                </figure>
                </a>
                <div class="media-content">
                <a href="/publications?author={{author_id}}"><b class="author-name">{{author.fullname}}</b></a>
                    <a class="author-link" href="https://web.telegram.org/#/im?p=@{{author.telegram}}" target="_blank">@{{author.telegram}}</a>
                    <code>{{author.email}}</code>
                    {{#removaible}}
                    <nav class="level">
                        <div class="level-left">
                            <a class="button is-danger" onclick="showModal()">
                                <span class="icon">
                                    <i class="fa fa-times"></i>
                                </span>
                                <p>Delete</p>
                            </a>
                        </div>
                    </nav>
                    {{/removaible}}
                    <p class="subtitle">{{createdAt}}</p>
                    <p class="subtitle"><b>Difficult: </b>{{difficult}}</p>
                    <hr>
                    <div class="tags">
                        {{#tags}}
                        <div class="tag is-size-5">
                            {{.}}
                        </div>
                        {{/tags}}
                    </div>
                </div>
            </div>
            <div class="content tile is-parent notification is-light">
                {{text}}
            </div>
        </div>
    </div>
<!--</div>-->

</script>