<div class="flex-item publication_card">
    <a href="/publications/<%= obj.id %>" target="_self">
        <div class="header <%= getColor(obj.difficult) %>

"><%= obj.title %></div>
        <img src="/images/publications/<%= obj.image_path %>" onerror="imgError(this);"
             alt="image-preview of publication">
        <div class="description">
            <%= obj.description.slice(0, 120) %>
        </div>
    </a>
</div>