<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content=" <%= description %>">
    <meta name="author" content="<%= author %>">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title><%= title %></title>
    <script>
        function imgError(image) {
            image.onerror = "";
            image.src = "/images/placeholder.jpg";
            return true;
        }
    </script>
</head>
<body>
<header id="publication_header">
    <h1 class="header_title">
        <%= title %>
    </h1>
</header>
<div class="content publication shadowed">
    <div class="dark">

        <a href="/publications">
            <button class="standalone">Go back</button>
        </a>
        <div class="shadowed">
            <% include publicationInfo.ejs %>
        </div>
        <p>
            <img src="/images/publications/<%= image_path %>" alt="publication's image" onerror="imgError(this)">
            <% for(let text_chunk of text){ %>
        <p><%= text_chunk %></p>
        <% } %>
        <form action="remove/<%= id %>" method="post" enctype="application/x-www-form-urlencoded">
            <button type="submit" class="standalone">Delete</button>
        </form>
    </div>
</div>
<% include footer.ejs %>
</body>
</html>