<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new publication</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="description" content="There u can create a new publication using forms">
    <meta name="author" content="Danil Kazimirov">
</head>
<body>
<header id="publication_header">
    <h1 class="header_title">
        Create new publication
    </h1>
</header>
<div class="content publication">
    <form class="form-style">
        <fieldset>
            <legend><span class="number">1</span>Information about you</legend>
            <div>
                <input type="text" name="author" placeholder="Your name" value="Danil" required>
            </div>
            <div>
                <input type="text" name="link" placeholder="Your telegram nick" required value="ZulusK">
            </div>
        </fieldset>
        <fieldset>
            <legend><span class="number">2</span> Content</legend>
            <div>
                <input type="text" name="title" value="A" placeholder="Title of publication" value="a" required>
            </div>
            <div>
                <input type="file" id="logo" name="logo" required>
            </div>
            <div class="center">
                <input type="range" class="slider" name="difficult" value="1" min="1" max="10"
                       oninput="difficultOutput.value = difficult.value">
                <output name="difficultOutput">1</output>
            </div>
            <div id="tag_area">
                <input type="text" name="tag0" id="tag0" placeholder="Tag of publication" required value="tag">
            </div>
            <div class="center">
                <button type="button" id="addTagBtn" onclick="addTagField()"></button>
            </div>
            <div>
                <input type="text" name="description" required value="q" placeholder="Short description">
            </div>
            <div>
                <textarea rows="20" cols="120" name="text"
                          placeholder="Enter text of publication there" required></textarea>
            </div>
        </fieldset>
        <div>
            <input type="submit" content="Create">
        </div>
    </form>
</div>
<% include footer.ejs %>
</body>
</html>