<template>
  <v-layout>
    <v-flex xs12>
      <v-card>
        <v-card-title class="warning white--text">
          <v-layout>
            <v-flex class="text-xs-center">
              <h3 class="display-2">404</h3>
            </v-flex>
          </v-layout>
        </v-card-title>
        <v-card-media height="800px" src="/static/img/404.jpg">
          <v-container>
            <v-layout>
              <v-flex class="text-xs-center white--text">
                <blockquote>
                  THIS CITY NEEDS A PAGE
                </blockquote>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-media>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
  export default {
    data () {
      return {}
    }
  }
</script>
<style lang="scss" scoped>
  @import url(https://fonts.googleapis.com/css?family=Six+Caps:400);

  blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
    background: rgba(14, 14, 14, 0.43);
    padding: .5em 10px;
    color: #ffffff;
    font-family: 'Six Caps';
    font-size: 8em;
    font-weight: 400;
    width: 90%;
    margin: auto;
  }

  blockquote:before {
    color: #ffffff;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
  }
</style>
