<template>
  <v-container grid-list-md>
    <v-card>
      <v-card-title class="primary white--text">
        <v-layout class="text-xs-center">
          <v-flex xs12>
             <span class="group display-3 white--text">
            <v-icon class="display-3 white--text">settings_ethernet</v-icon>
            API.v1
            </span>
          </v-flex>
        </v-layout>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-content class="markdown-body">
            <div v-html="text"/>
          </v-content>
        </v-container>
      </v-card-text>
    </v-card>
  </v-container>
</template>
<script>
  import Utils from '#/Utils';

  export default {
    data () {
      return {
        text: ""
      }
    },
    created: async function () {
      this.text = await this.load();
    },
    methods: {
      load: async function () {
        try {
          const response = await Utils.getAPI();
          if (response.data.success) {
            return Utils.parseMD(response.data.text);
          }
        } catch (e) {
          return "ERROR AT SERVER";
        }
      }
    }
  }
</script>
<style scoped lang="scss">
</style>
