<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_new.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.9.0/github-markdown.min.css">

    <meta name="description" content="API of this service">
    <meta name="author" content="Danil Kazimirov">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header class="publication-header">
    <div class="header-title">
        <p>API</p>
    </div>
</header>
<div class="shadow-box-out">
    <div class="content-text publication-info">
        <div class="reset markdown-body">
            <%- APIroad %>
        </div>
    </div>
</div>
<% include footer.ejs %>
</body>
</html>