<p>
    <% if('author' in publication && publication.author.isAuthorized){ %>
    <b>Author:</b> <%= publication.author.fullname %>, <a
            href="https://telegram.me/<%= ('telegram' in publication.author) ? publication.author.telegram : "" %>"
            target="_blank">telegram</a><br>
    <% } %>
    <b>Date of publication:</b> <%= new Date(publication.createdAt).toLocaleString() %><br>
    <b>Difficult:</b> <%= publication.difficult %><br>
    <b>Tags: </b>
    <%
    for (let tag of publication.tags) {
    %>
    <%= tag + "," %>
    <% } %>
    <br>
    <b>Description:</b> <%= publication.description.slice(0, 200) %><br>
</p>