div.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: white 2px;
    margin: auto;
    width: 50%;
    height: auto;
    align-self: center;
    align-content: center;
    text-align: center;
    border-radius: 3%;
}

div.header {
    color: white;
    background-color: #00daff;
    text-align: center;
    padding-top: 0.05%;
    padding-bottom: 0.05%;

    vertical-align: center;
}

img.my_photo {
    margin: 2px;
    max-width: 900px;
    min-width: 50px;
    width: 99%;
    border-radius: 100%;
    align-self: center;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}