<template>
  <v-footer dense app  color="primary">
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <v-layout justify-space-around>
        <v-btn flat class="white--text" :to="{name:'API'}">
          API
        </v-btn>
        <v-btn icon flat>
          <v-icon color="white">fa-telegram</v-icon>
        </v-btn>
        <v-btn icon flat>
          <v-icon color="white">fa-github</v-icon>
        </v-btn>
        <v-btn icon flat>
          <v-icon color="white">fa-instagram</v-icon>
        </v-btn>
        <v-btn flat class="white--text">
          Help
        </v-btn>
      </v-layout>
    </v-toolbar-items>
    <v-spacer></v-spacer>
  </v-footer>
</template>
<script>

</script>
