<template>
  <v-toolbar app fixed dense prominent permanent  class="primary">
    <!--burger menu-->
    <v-toolbar-side-icon @click="$emit('toggleSidebar')" class="white--text "/>
    <!--name of current page-->
    <v-toolbar-title class="white--text">{{title}}</v-toolbar-title>
    <template v-if="$store.getters.isLogged()">
      <template v-if="$store.state.user.isAdmin">
        <v-tooltip bottom>
          <v-btn flat class="hidden-xs-only white--text" icon slot="activator">
            <v-icon>fa-shield</v-icon>
          </v-btn>
          <span>You are admin</span>
        </v-tooltip>
      </template>
    </template>
    <!--spacer,align items-rigth-->
    <v-spacer/>
    <v-tooltip bottom>
      <v-btn flat class="hidden-sm-and-down white--text" icon slot="activator" :to="{name:'Publications-create'}">
        <v-icon>note_add</v-icon>
      </v-btn>
      <span>Create new publication</span>
    </v-tooltip>
    <!--grouped items-->
    <v-toolbar-items>
      <v-menu
        transition="scale-transition"
        bottom>
        <span slot="activator">
          <v-btn
            flat
            class="hidden-xs-only white--text"
            slot="activator">
            Posts
            <v-icon dark>arrow_drop_down</v-icon>
          </v-btn>
        </span>
        <v-list class="white--text" dark>
          <v-list-tile :to="{name:'Publications'}">
            <v-list-tile-title>All</v-list-tile-title>
          </v-list-tile>
          <template v-if="$store.getters.isLogged()">
            <v-list-tile :to="{name:'Publications',query:{author:$store.state.user.id}}">
              <v-list-tile-title>
                My
              </v-list-tile-title>
            </v-list-tile>
          </template>
        </v-list>
      </v-menu>
      <v-menu offset-y>

        <v-list>
          <template v-if="$store.getters.isLogged()">
            <v-list-tile>
              <v-list-tile-title>My</v-list-tile-title>
            </v-list-tile>
          </template>
          <v-list-tile>
            <v-list-tile-title>All</v-list-tile-title>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-title>New</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      <template v-if="!$store.getters.isLogged()">
        <v-btn flat class="hidden-md-and-down white--text" @click="$emit('login')">Log in</v-btn>
        <v-btn flat class="hidden-md-and-down white--text" @click="$emit('register')">Register</v-btn>
      </template>
      <template v-else>
        <v-btn flat class="hidden-md-and-down white--text" @click="$emit('logout')">Log out</v-btn>
      </template>
    </v-toolbar-items>
    <template v-if="!$store.getters.isLogged()">
      <v-tooltip bottom class="hidden-lg-and-up ">
        <v-btn flat icon id="header-login-btn" class="white--text" slot="activator"
               @click="$emit('login')">
          <v-icon>perm_identity</v-icon>
        </v-btn>
        <span>Log in</span>
      </v-tooltip>
      <v-tooltip bottom class="hidden-lg-and-up">
        <v-btn flat icon class="white--text" slot="activator"
               id="header-register-btn"
               @click="$emit('register')">
          <v-icon>portrait</v-icon>
        </v-btn>
        <span>Register</span>
      </v-tooltip>
    </template>
    <template v-else>
      <v-tooltip bottom class="hidden-lg-and-up">
        <v-btn flat icon class="white--text" slot="activator"
               @click="$emit('logout')"
               id="header-logout-btn">
          <v-icon>exit_to_app</v-icon>
        </v-btn>
        <span>log out</span>
      </v-tooltip>
    </template>
  </v-toolbar>
</template>
<script>

  export default {
    name: 'xHeader',
    data () {
      return {
      }
    },
    components: {},
    props: [
      'title'
    ],
    methods: {
      showSearch () {
        this.UI.showExtendedMenu = !this.UI.showExtendedMenu;
        this.UI.showSearch = !this.UI.showSearch;
      }
    }
  }

</script>
<style lang="scss" scoped>
  @import '~material-colors/dist/colors';

  .hidden {
    display: none;
  }

  .primary {
    color: $md-white;
  }
</style>
