<template>
  <v-navigation-drawer
    fixed
    app
    absolute
    floating
    v-model="UI.show"
    dark
  >
    <v-toolbar dense color="primary" dark>
      <v-toolbar-title class="text-lg-center">Menu</v-toolbar-title>
    </v-toolbar>
    <v-list dense>
      <!--draw all items for all roles-->
      <template v-for="(item, i) in items">
        <!--heading-->
        <v-layout
          row
          v-if="item.heading"
          align-center
          :key="i"
        >
          <v-flex xs6>
            <v-subheader v-if="item.heading">
              {{ item.heading }}
            </v-subheader>
          </v-flex>
        </v-layout>
        <!--children-->
        <v-list-group v-else-if="item.children" v-model="item.model" no-action>
          <v-list-tile slot="item" @click="" :to="item.to">
            <v-list-tile-action>
              <v-icon>{{ item.model ? item.icon : item['icon-alt'] }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile
            v-for="(child, i) in item.children"
            :key="i"
            @click=""
            :to="child.to"
          >
            <v-list-tile-action v-if="child.icon">
              <v-icon>{{ child.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ child.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
        <v-list-tile v-else @click="" :to="item.to">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ item.text }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
  export default {
    name: 'xSidebar',
    data () {
      return {
        UI: {
          show: true,
        },
        items: [
          {icon: 'contacts', text: 'Contacts'},
          {
            icon: 'keyboard_arrow_up',
            'icon-alt': 'keyboard_arrow_down',
            text: 'More',
            model: false,
            children: [
              {text: 'Import'},
              {text: 'Export'},
              {text: 'Print'},
              {text: 'Undo changes'},
              {text: 'Other contacts'}
            ]
          },
        ]
      }
    },
    props: [
      'open'
    ],
    watch: {
      open: function (value) {
        this.UI.show = !this.UI.show;
      }
    },
  }
</script>
