<template>
  <v-container fill-height>
    <v-layout v-if="$store.getters.isLogged()" row wrap>
      <v-flex xs12 md6>
        <v-container grid-list-md>
          <v-card>
            <v-card-title class="amber">
              <v-layout align-center row wrap>
                <v-flex text-xs-center xs12 class="pa-3" icon>
            <span class="group display-2 white--text">
              <v-icon class=" display-2" color="white">note_add</v-icon>
             Create new publication
            </span>
                </v-flex>
              </v-layout>
            </v-card-title>
            <v-card-text>
              <v-container fluid>
                <v-layout row>
                  <v-flex xs3>
                    <div class="body-2 grey--text">Choose header file</div>
                  </v-flex>
                  <v-flex xs9 class="text-xs-left">
                    <v-file-input @load="loadFile" @remove="removeFile"/>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field
                      label="Title"
                      v-model="publication.title"
                      prepend-icon="title"
                      :append-icon="setIcon('title')"
                      v-validate="'required|publication.create.title'"
                      :rules="setRules('title')"
                      validate-on-blur
                      name="title"
                    />
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12>
                    <v-select
                      label="Tags"
                      chips
                      tags
                      v-model="publication.tags"
                      prepend-icon="label"
                      name="tags"
                    />
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field
                      label="Description"
                      multi-line
                      v-model="publication.description"
                      prepend-icon="description"
                      v-validate="'required'"
                      :rules="setRules('description')"
                      validate-on-blur
                      name="description"
                    />
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs11>
                    <v-slider
                      prepend-icon="school"
                      :min="1" :max="10"
                      v-model="publication.difficult"
                    ></v-slider>
                  </v-flex>
                  <v-flex xs2>
                    <v-text-field
                      v-model="publication.difficult"
                      type="number"></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-text-field
                      multi-line
                      prepend-icon="text_fields"
                      label="Text"
                      v-model="publication.text"
                      v-validate="'required'"
                      :rules="setRules('text')"
                      validate-on-blur
                      name="text"
                    />
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-btn flat color="success" @click.stop="create" :disabled="isCreateBtnDisabled">Create</v-btn>
              <v-btn flat color="error" @click.stop="$router.go(-1)">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-container>
      </v-flex>
      <v-flex xs12 md6>
        <publication-card :item="publication" :author="$store.state.user"/>
      </v-flex>
    </v-layout>
    <v-layout v-else>
      <v-flex>
        <v-alert color="error" icon="error" value="true">
          Please, log in, now, to continue
        </v-alert>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  import VFileInput from '@/components/elements/FileInput.vue';
  import APIPublications from '@/services/Publications';
  import PublicationCard from '@/components/Publications/Publication.card';

  export default {
    components: {
      VFileInput,
      PublicationCard
    },
    data () {
      return {
        publication: {
          image: null,
          file: null,
          title: "",
          tags: [],
          description: "",
          text: "",
          difficult: 1,
        }
      }
    },
    computed: {
      isCreateBtnDisabled () {
        return this.publication.title.length == 0
          || this.publication.text.length == 0
          || this.errors.has('title')
          || this.errors.has('difficult')
          || this.errors.has('text')
          || this.errors.has('description')
      },
      query () {
        return {
          title: this.publication.title,
          difficult: this.publication.difficult,
          image_id: this.publication.image_id,
          text: this.publication.text,
          tags: JSON.stringify(this.publication.tags),
          description: this.publication.description
        }
      }
    },
    methods: {
      setIcon: function (field) {
        return (!this.errors.first(field)) ? 'done' : 'warning'
      },
      setRules: function (field) {
        return (!this.errors.first(field)) ? [true] : [this.errors.first(field)];
      },
      loadFile: async function (file) {
        this.publication.file = file;
        //read file from local FS
        let publication = this.publication;
        var reader = new FileReader();
        reader.onload = function (e) {
          publication.image = e.target.result;
        }
        reader.readAsDataURL(this.publication.file);
      },
      uploadFile: async function () {
        if (this.publication.file) {
          try {
            const response = await APIPublications.uploadFile(this.publication.file);
            return response.data.id;
          } catch (e) {
            console.log(e)
          }
        }
      },
      create: async function () {
        // upload logo
        this.publication.image_id = await this.uploadFile();
        // post all field
        try {
          const response = await APIPublications.create(this.query);
          if (response.data.success) {
            return this.$router.push({name: 'Publications-view', params: {id: response.data.publication.id}})
          } else {
            await APIPublications.removeFile(this.publication.image_id);
          }
        } catch (e) {
          console.log(e);
        }
      },
      removeFile () {
        this.publication.file = null;
        this.publication.image = null;
      }
    }
  }
</script>
<style scoped lang="scss">

</style>
