<template>
  <v-container grid-list-md v-if="item">
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title
            :class="{'error':item.difficult>7,'warning':item.difficult<=7&&item.difficult>3, 'success':item.difficult<=3}">
            <v-layout align-center row wrap>
              <v-flex text-xs-center xs12 class="pa-3" icon>
            <span class="group display-2 white--text">
             {{item.title}}
            </span>
              </v-flex>
            </v-layout>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12 sm6 class="flex-container">
        <v-card class="flex-item">
          <v-list three-line v-if="author">
            <v-list-tile avatar @click="">
              <v-list-tile-avatar>
                <router-link :to="{name:'Publications',query:{author:author.id}}">
                  <v-avatar>
                    <v-gravatar
                      :email="author.email"
                      alt="Author avatar" :size="48"
                      ref="gravatar"/>
                  </v-avatar>
                </router-link>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{author.fullname}}
                  <a class="light-blue--text"
                     :href="`https://web.telegram.org/#/im?p=${author.telegram}`"
                     target="_blank">
                    <b>{{'@' + author.telegram.substr(0, 10)}}</b>
                  </a>
                </v-list-tile-title>
                <v-list-tile-sub-title>
                  {{item.createdAt}}
                </v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
          <v-card-text>
            <content>
              <div class="text-xs-center">
                <router-link v-for="tag in item.tags" :key="tag" :to="{name:'Publications',query:{tag:tag}}">
                  <v-chip text-color="white"
                          class="ma-1 pa-0 tag"
                          :color="getTagColor(tag)" label>
                    {{tag.substr(0, 10)}}
                  </v-chip>
                </router-link>
              </div>
              <p class="text-xs-justify">{{item.description}}</p>
            </content>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 sm6>
        <v-card>
          <v-card-text class="ma-0 pa-0 image-container">
            <img :src="getImage()" @error="usePlaceholder" class="image-prev"/>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-text v-html="text"/>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  import Utils from '#/Utils'

  export default {
    data () {
      return {
        placeholder: '/static/img/placeholder.png',
        tagsColors: {},
      }
    },
    props: [
      "item",
      "author"
    ],
    computed: {
      colors () {
        return ['pink', 'red', 'grey', 'amber', 'green', 'brown', 'blue', 'light-blue', 'orange']
      },
      text () {
        return Utils.parseMD(this.item.text);
      }
    },
    methods: {
      usePlaceholder (e) {
        e.target.src = this.placeholder;
      },
      getImage () {
        if (this.item.image) {
          return this.item.image;
        } else if (this.item.id) {
          return `http://localhost:${process.env.PORT || 2004}/api/v1/res?id=${this.item.image_id}`;
        } else {
          return this.placeholder;
        }
      },
      randomColor () {
        return this.colors[Math.floor(Math.random() * this.colors.length)];
      },
      getTagColor (tag) {
        if (!this.tagsColors[tag]) {
          this.tagsColors[tag] = this.randomColor();
        }
        return this.tagsColors[tag];
      },
      create: async function () {

      }
    }
  }
</script>
<style lang="scss" scoped>
  .image-prev {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
    margin-bottom: -6px;
  }

  .image-container {
    position: relative;
    width: 100%;

  }

  .flex-container {
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .flex-item {
    min-height: 100%;
    flex: 1 0 auto;
  }

  a {
    text-decoration: none;
  }
</style>
