<template>
  <v-container>
    <v-dialog v-model="UI.removeDialog" max-width="500px">
      <v-card>
        <v-card-title class="warning">
          <span>Attention</span>
          <v-spacer></v-spacer>
        </v-card-title>
        <v-card-text>
          <p class="body-1">
            You are sure that you want to delete the publication, this action can not be <b>undone</b>
          </p>
        </v-card-text>
        <v-card-actions>
          <v-btn color="error" flat @click.stop="UI.removeDialog=false; remove()">Continue</v-btn>
          <v-btn color="success" flat @click.stop="UI.removeDialog=false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="UI.infoDialog" max-width="200px">
      <v-card>
        <v-card-title class="success white--text text-xs-center">
          <span class="title ">Success</span>
          <v-spacer></v-spacer>
        </v-card-title>
        <v-card-actions class="text-xs-center">
          <v-btn color="success" flat @click.stop="UI.infoDialog=false">Ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-layout v-if="enableRemove()">
      <v-flex xs12 md4>
        <v-btn class="error" @click.stop="UI.removeDialog=true">
          Remove
          <v-icon>delete</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    <publication-card :item="publication" :author="author"/>
  </v-container>
</template>
<script>
  import PublicationCard from '@/components/Publications/Publication.card.vue';
  import APIPublication from '#/Publications';
  import APIUsers from '#/Users'

  export default {
    components: {
      PublicationCard
    },
    data () {
      return {
        publication: null,
        author: null,
        UI: {
          removeDialog: false,
          infoDialog: false
        }
      }
    },
    methods: {
      loadAuthor: async function () {
        try {
          console.log(1)
          const result = await APIUsers.get({id: this.publication.author_id});
          if (result.data.success && result.data.items[0]) {
            this.author = result.data.items[0];
          }
          console.log(this.author)
        } catch (e) {
          console.log(e)
        }
      },
      loadPublication: async function (id) {
        try {
          const response = await APIPublication.get({id: id});
          if (response.data.success && response.data.items[0]) {
            this.publication = response.data.items[0];
            console.log(this.publication)
            await this.loadAuthor();
          } else {
            this.$router.push({name: '404'})
          }
        } catch (e) {
          console.log(e)
        }
      },
      remove: async function () {
        try {
          const result = await APIPublication.removePublication(this.publication.id);
          if (result.data.success) {
            this.UI.infoDialog = true;
          }
        } catch (e) {
          console.log(e);
          if (e.response.status == 401 || e.response.status == 403) {
            this.$emit('login');
          }
        }
      },
      enableRemove () {
        return this.$store.getters.isLogged() && this.publication && (this.$store.state.user.isAdmin || String(this.publication.author_id) === String(this.$store.state.user.id))
      }
    },
    created: async function () {
      const id = this.$route.params.id;
      await this.loadPublication(id);
    },
  }
</script>
