<template>
  <v-container grid-list-sm grid-list-xl text-xs-center class="flex-container">
    <v-speed-dial
      v-model="fab"
      :direction="'left'"
      :hover="true"
      transition="slide-y-reverse-transition"
      class="fab"
    >
      <v-btn
        slot="activator"
        color="blue darken-2"
        dark
        fab
        hover
        v-model="fab"
      >
        <v-icon>search</v-icon>
        <v-icon>close</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="green"
        @click.stop="UI.filter.title=!UI.filter.title"
      >
        <v-icon>title</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="orange"
        @click.stop="UI.filter.tags=!UI.filter.tags"
      >
        <v-icon>label</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="red"
        @click.stop="clearFilters()"
      >
        <v-icon>delete</v-icon>
      </v-btn>
    </v-speed-dial>
    <v-layout row>
      <v-flex xs12 md6 offset-md3 lg4 offset-lg4>
        <v-card class="pa-0">
          <v-card-text class=" pt-0 pb-0">
            <v-text-field
              v-if="UI.filter.title"
              v-model="filter.title"
              label="Search by title"
              prepend-icon="title"
              @input="load"
            />
            <v-select
              v-if="UI.filter.tags"
              label="Search by tags"
              chips
              tags
              @input="load"
              v-model="filter.tags"
              prepend-icon="label"
            />
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row wrap class="flex-viewport">
      <v-flex xs12>
        <v-alert color="warning" icon="warning" :value="UI.showWarning">
          <h2 class="title">There are no publications for you</h2>
        </v-alert>
      </v-flex>
      <template>
        <v-flex xs12 sm6 md4 xl2 lg3 v-for="(item) in items" :key="item.title">
          <v-card elevation-2 class="publication-card">
            <router-link :to="{name:'Publications-view',params:{id:item.id}}">
              <v-card-title
                :class="{'error':item.difficult>7,'warning':item.difficult<=7&&item.difficult>3, 'success':item.difficult<=3}">
                <v-layout align-center>
                  <v-flex text-xs-center xs12>
                    <h3 class="title white--text">{{item.title.substr(0, 10)}}</h3>
                  </v-flex>
                </v-layout>
              </v-card-title>
              <img :src="image(item.image_id)" @error="(event)=>usePlaceholder(event)" class="logo"/>
            </router-link>
            <div class="ma-1">
              <!--<v-layout row wrap>-->
              <v-list three-line>
                <v-list-tile avatar>
                  <a @click="setAuthor(item.author_id)">
                    <v-list-tile-avatar>
                      <v-avatar>
                        <v-gravatar
                          :email="authors[item.author_id].email"
                          alt="Author avatar" :size="48"
                          ref="gravatar"/>
                      </v-avatar>
                    </v-list-tile-avatar>
                  </a>
                  <v-list-tile-content>
                    <v-list-tile-title>
                      {{authors[item.author_id].fullname.substr(0, 10)}}
                      <a class="light-blue--text"
                         :href="`https://web.telegram.org/#/im?p=${authors[item.author_id].telegram}`"
                         target="_blank">
                        <b>{{'@' + authors[item.author_id].telegram.substr(0, 10)}}</b>
                      </a>
                    </v-list-tile-title>
                    <v-list-tile-sub-title>
                      {{item.description.substr(0, 40)}}
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
                <div class="text-xs-center">
                  <a v-for="i in Math.min(item.tags.length,5)" v-if="item.tags[i]" :key="item.tags[i]"
                     @click="setTags(item.tags[i])">
                    <v-chip text-color="white"
                            class="ma-1 pa-0 tag"
                            :color="getTagColor(item.tags[i])" label>
                      {{item.tags[i].substr(0, 5)}}
                    </v-chip>
                  </a>
                </div>
              </v-list>
            </div>
          </v-card>
        </v-flex>
      </template>
    </v-layout>
    <v-layout v-if="items.length>0" class="flex-footer">
      <v-flex xs12 class="text-xs-center">
        <v-pagination v-model="page" circle :length="total"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  import APIPublications from '@/services/Publications'
  import APIUsers from '@/services/Users'

  export default {
    components: {},
    data () {
      return {
        fab: null,
        tagsColors: {},
        UI: {
          showWarning: false,
          filter: {
            title: false,
            tags: false,
          }
        },
        filter: {
          title: '',
          tags: [],
          author: null
        },
        authorsLoaded: true,
        items: [],
        page: 1,
        limit: 12,
        total: 1,
        authors: {},
        placeholder: '/static/img/placeholder.png'
      }
    },
    computed: {
      colors () {
        return ['pink', 'red', 'light-blue', 'amber', 'cyan', 'green', 'blue', 'purple', 'deep-orange', 'orange']
      },
      logoHeight () {
        switch (this.$vuetify.breakpoint.name) {
          case 'xs':
          case 'sm':
            return '200px'
          case 'md':
            return '220px';
          case 'lg':
          case 'xl':
            return '256px'
        }
      },
      query () {
        let query = {
          page: this.page,
          limit: this.limit,
          title: this.filter.title || undefined,
          tags: this.filter.tags.length > 0 ? JSON.stringify(this.filter.tags) : undefined,
          author: this.filter.author || undefined
        };

        return query
      },
      emptyUser () {
        return {
          fullname: 'Crazy primat',
          telegram: '',
          email: '',
        }
      },
    },
    created: async function () {
      // parse title from url
      this.filter.title = this.$route.query.title;
      // parse auhtor from url
      this.filter.author = this.$route.query.author;
      // parse tags
      if (this.$route.query.tag)
        this.filter.tags.push(this.$route.query.tag);
      // parse page
      this.page = Number(this.$route.query.page) || 1;
      // load data
      await this.load();
    },
    watch: {
      page: async function () {
        await this.load();
      }
    },
    methods: {
      setTags: async function (tag) {
        this.filter.tags = [tag];
        await this.load();
      },
      setAuthor: async function (id) {
        if (id != this.filter.author) {
          this.filter.author = id;
          await this.load();
        }
      },
      clearFilters: async function () {
        this.filter.title = "";
        this.filter.tags = [];
        await this.load();
      },
      randomColor () {
        return this.colors[Math.floor(Math.random() * this.colors.length)];
      },
      getTagColor (tag) {
        if (!this.tagsColors[tag]) {
          this.tagsColors[tag] = this.randomColor();
        }
        return this.tagsColors[tag];
      },
      getAuthor: async function (id) {
        if (!id) return this.emptyUser;
        if (!this.authors[id]) {
          this.authors[id] = await this.getUser(id);
        }
        return this.authors[id];
      },
      getUser: async function (id) {
        if (!id) return this.emptyUser;
        try {
          let response = await APIUsers.get({id: id})
          return response.data.items[0] || this.emptyUser;
        } catch (e) {
          return this.emptyUser;
        }
      },
      usePlaceholder (e) {
        e.target.src = this.placeholder;
      },
      image (id) {
        if (id) {
          return `http://localhost:${process.env.PORT || 2004}/api/v1/res?id=${id}`;
        } else {
          return this.placeholder;
        }
      },
      loadAuthors: function (items) {
        return Promise.all(items.map(item => this.getAuthor(item.author_id)))
      },
      load: async function () {
        try {
          const response = await APIPublications.get(this.query);
          if (response.data.success) {
            await this.loadAuthors(response.data.items);
            this.items = response.data.items;
            this.total = response.data.pages;
          }
        } catch (e) {
          console.log(e);
        }
        this.UI.showWarning = this.items.length <= 0;
      }
    }
  }
</script>
<style lang="scss" scoped>
  .fab {
    z-index: 10;
    position: fixed;
    right: 10px;
    top: 50px;
  }

  .publication-card {
    transition: transform 0.4s;
  }

  .publication-card:hover {
    transform: scale(0.97, 0.97); /* Standard syntax */
  }

  .flex-container {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 70vh;
  }

  .flex-viewport {
    min-height: 70vh;
    flex: 1 0 auto;
  }

  .flex-footer {
    flex-shrink: 0;
  }

  .logo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-left: 50%;
    transform: translate(-50%, 0%);
  }

  a {
    text-decoration: none;
  }

</style>
