<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <% include global/head.style.ejs %>
    <title>API</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.9.0/github-markdown.min.css">
    <meta name="description" content="API of this service">
    <meta name="author" content="Danil Kazimirov">
</head>
<body>
<body class="is-light bg-light">
<% include global/header.ejs %>
<div class="columns">
    <div class="card column is-6 is-offset-3">
        <div class="card-header">
            <div class="is-centered card-header-title">
                <p class="is-size-1 title">API endpoints</p>
            </div>
        </div>
        <div class="card-body content">
            <div class="markdown-body">
                <%- APIroad %>
            </div>
        </div>
    </div>
</div>
<% include global/footer.ejs %>
</body>
</html>