<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <% include global/head.style.ejs %>
    <title>Introduction</title>
    <meta name="description" content="Main page of site, which had created by Danil Kazimirov for lab1 task">
    <meta name="author" content="Danil Kazimirov">
</head>
<body class="is-light bg-light has-bg">
<% include global/header.ejs %>
<div class="columns">
    <div class="column">
        <div class="hero has-bg is-fullheight is-primary">
            <div class="hero-body">
                <div class="column is-12 has-text-centered">
                    <div class="retro_text is-hidden-touch">
                        <p class="script"><span>IT'S</span></p>
                        <p class="shadow text2">WEB</p>
                        <p class="shadow text1">PROGBASE</p>
                        <p class="shadow text3">LABS</p>
                        <p class="script"><span>BY ME</span></p>
                    </div>
                    <div class="is-hidden-desktop">
                        <p class="is-size-1">WELCOME</p>
                        <p class="is-size-2">TO WEBPROGBASE</p>
                        <p class="is-size-3">LABS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="column is-8 is-offset-2">
    <div class="card">
        <div class="card-header">
            <div class="is-centered card-header-title">
                <div class="avatar has-text-centered">
                    <img class="avatar-image "
                         src="https://scontent-frx5-1.cdninstagram.com/t51.2885-19/s150x150/20393616_1836301649718394_3878184923726610432_a.jpg"/>
                    <p class="is-size-1">
                        Hi, my name is Danil
                    </p>
                    <p class="subtitle">
                        And I'm the creator of this site
                    </p>
                </div>
            </div>
        </div>
        <div class="card-content columns">
            <div class="column is-10 is-offset-1 has-text-centered">
                <h1 class="subtitle">I have designed this site to perform laboratory work #1.</h1>
                <p>My <em>dear</em> <a href="https://telegram.me/rulline" target="_blank">teacher</a>
                    asked me to create and complete this site for lab's works.<br>
                    I hope that I coped with the task.
                </p>
            </div>
        </div>
    </div>

</div>
<div class="column is-8 is-offset-2">
    <div class="card">
        <div class="card-header">
            <div class="is-centered card-header-title">
                <div class="has-text-centered">
                    <p class="is-size-1">
                        Essence, I choose
                    </p>
                    <p class="subtitle">
                        publications about programming
                    </p>
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="content">
                <p class="has-text-centered">
                    Here is some actions, that you can do with this website:
                </p>
                <div class="column is-8 is-offset-2">
                    <div class="tile is-ancestor is-parent">
                        <div class="tile is-6 is-vertical is-parent">
                            <div class="tile notification box is-primary is-child">
                                <p class="title">
                                    <span class="icon is-large">
                                     <i class="fa fa-plus"></i>
                                 </span>
                                    Create</p>
                                <p class="subtitle">new publication</p>
                            </div>
                            <div class="tile notification box is-warning is-child">
                                <p class="title">
                                     <span class="icon is-large">
                                     <i class="fa fa-share"></i>
                                 </span>
                                    Share</p>
                                <p class="subtitle">publications with friends</p>
                            </div>
                            <div class="tile box notification is-danger is-child">
                                <p class="title">
                                    <span class="icon is-large">
                                         <i class="fa fa-search"></i>
                                    </span>
                                    Search </p>
                                <p class="subtitle">publications by it's fields</p>
                            </div>
                        </div>
                        <div class="tile is-6 is-vertical is-parent">
                            <div class="tile box notification is-info is-child">
                                <p class="title">
                                     <span class="icon is-large">
                                        <i class="fa fa-code"></i>
                                     </span>
                                    API
                                </p>
                                <p class="subtitle">for more advanced usage</p>
                            </div>
                            <div class="tile box notification is-danger is-child">
                                <p class="title">
                                 <span class="icon is-large">
                                    <i class="fa fa-server"></i>
                                 </span>
                                    Image's storage
                                </p>
                                <p class="subtitle">allows downloading and accessing your images</p>
                            </div>
                            <div class="tile box notification is-warning is-child">
                                <p class="title">
                                 <span class="icon is-large">
                                     <i class="fa fa-shield"></i>
                                 </span>
                                    Auth
                                </p>
                                <p class="subtitle">for security</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="column is-4 is-offset-4">
    <div class="card-content has-text-centered">
        <a class="button is-success is-large" href="/publications">
            Let's start
        </a>
    </div>
</div>
<div class="old-shadow-text"><span class="is-size-1-touch">Designed by primat for primats</span>
</div>
<% include global/footer.ejs %>
</body>
</html>