<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <% include global/head.style.ejs %>
    <script src='/js/publications.js'></script>
    <title>Publications</title>
    <% include publication.card.ejs %>
    <% include global/pagination.ejs %>
    <% include addons/card-error.ejs %>
    <meta name="description" content="List of all publications">
    <meta nmet="author" content="Danil Kazimirov">
</head>
<body class="is-light bg-light">
<% include global/header.ejs %>
<div class="hero has-bg is-black is-medium">
    <div class="hero-body">
        <div class="has-text-centered">
            <p class="is-size-1 is-title">List of all publications</p>
        </div>
    </div>
</div>
<div class="flex-container has-bg">
    <div class="column is-10-fullhd is-offset-1-fullhd flex-viewport">
        <div class="box">
            <div class="card-header">
                <div class="is-centered card-header-title">
                    <div class="field has-addons ">
                        <p class="control">
                            <input class="input is-medium" type="text" id="search" placeholder="Find a publication"
                                   oninput="find()">
                        </p>
                        <p class="control">
                            <button class="button is-info is-medium" onclick="find()">
                            <span class="icon is-left">
                        <i class="fa fa-search fa-1x"></i>
                    </span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="h-85 m-t-1 m-b-1">
                <div class="columns is-multiline is-tablet " id="publications-grid">
                </div>
            </div>
            <nav class="pagination is-medium " role="navigation" aria-label="pagination" id="pagination">
            </nav>
        </div>
    </div>
    <div class="flex-footer">
        <% include global/footer.ejs %>
    </div>
</div>
</body>
</html>