<script id="template-card" type="x-tmpl-mustache">
    {{#items}}
<div class="column  is-half-tablet is-one-third-desktop is-one-quarter-widescreen">
    <a href="/publications/{{id}}">
        <div class="card publication-card-item" id="{{id}}:{{author_id}}">
            <div class="card-header">
                <div class="is-centered card-header-title notification
        {{#middle}}
            is-warning
        {{/middle}}
        {{#easy}}
            is-primary
        {{/easy}}
        {{#hard}}
            is-danger
        {{/hard}}">
                    <p class="title is-3">{{title}}</p>
                </div>
            </div>
            <div class="card-image">
                <figure class="image is-256x256">
                    <img src="/images/placeholder.png" class="publication-prev-img" id="{{image_id}}"
                         alt="Publication image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <figure class="media-left">
                    <a href="/publications?author={{author_id}}">
                <span class="image is-64x64">
                    <img class="author-avatar" alt="avatar" src="/images/user.png" onerror="usePlaceholder(this,'/images/user.png'">
                </span>
                                    </a>
                    </figure>
                    <div class="media-content">
                        <a href="/publications?author={{author_id}}"><b class="author-name"></b></a>
                        <a class="author-link" href="https://web.telegram.org/#/im?p=@ZulusK"></a>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer-item tags">
                {{#tags}}
                <div class="tag">
                    {{.}}
                </div>
                {{/tags}}
            </div>
        </div>
    </a>
</div>
{{/items}}


</script>