<!doctype html>
<html lang="en">
<head>
    <% include global/head.style.ejs %>
    <% include addons/modal.ejs %>
    <% include addons/creation.tags.ejs %>
    <script src='/js/publication.create.js'></script>
    <title>Create new publication</title>
    <meta name="description" content="Create new publication">
    <meta name="author" content="Danil Kazimirov">
</head>
<body class="is-light bg-light">
<% include global/header.ejs %>
<div class="hero is-fullheight has-bg is-success">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-10 is-offset-1">
                <h1 class="is-size-1"> Create </h1>
                <h1 class="subtitle">Your own publication</h1>
                <div class="card m-t-7">
                    <div class="card-header">
                        <div class="is-centered card-header-title">
                            <div class="avatar has-text-centered">
                                <div class="figure image is-128x128">
                                    <img class="avatar-image"
                                         src="/images/create.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <form class="has-text-left ">
                            <div class="columns is-multiline">
                                <div class="column is-12">
                                    <div class="notification is-info ">
                                        <p class="title">
                                            <span class="icon">
                                                <i class="fa fa-info-circle fa-1x"></i>
                                            </span> Information</p>
                                        <p class="subtitle">Tell us, what it is</p>
                                    </div>
                                    <div class="field" id="title-field">
                                        <label class="label">Title<sup>*</sup></label>
                                        <div class="control has-icons-left">
                                            <input class="input" name="title" id="title" type="text"
                                                   required>
                                            <span class="icon is-left is-medium">
                                                <i class="fa fa-info"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field" id="description-field">
                                        <label class="label">Short description<sup>*</sup></label>
                                        <div class="control">
                                            <textarea class="textarea" name="description" id="description" type="text"
                                                      rows="5" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-12">
                                    <div class="notification is-success ">
                                        <p class="title">
                                            <span class="icon">
                                                <i class="fa fa-align-justify fa-1x"></i>
                                            </span> Content</p>
                                        <p class="subtitle">Add more</p>
                                    </div>
                                    <div class="columns">
                                        <div class="field column is-4" id="tag-field">
                                            <label class="label">Add new</label>
                                            <div class="control">
                                                <input class="input" name="text" id="tags-input" type="text"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="column is-8">
                                            <label class="label">Added tags: </label>
                                            <div class="field is-grouped is-grouped-multiline" id="tags-container">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="field" id="file-field">
                                        <label class="label">Logo</label>
                                        <div class="file is-info">
                                            <label class="file-label">
                                                <input class="file-input" type="file" name="logo" id="file"
                                                       onchange="showSelectedFile()">
                                                <span class="file-cta">
                                                  <span class="file-icon">
                                                    <i class="fa fa-upload"></i>
                                                  </span>
                                                  <span class="file-label">
                                                    Choose file
                                                  </span>
                                                </span>
                                                <span class="file-name is-hidden" id="filename">
                                                </span>
                                            </label>
                                            <a class="button is-danger is-hidden" id='remove-file'
                                               onclick="removeSelectedFile()">
                                                    <span class=" icon">
                                                        <i class="fa fa-trash"></i>
                                                    </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="field" id="difficult-field">
                                        <label class="label">Difficult<sup>*</sup></label>
                                        <input class="slider is-fullwidth" step="1" min="1" max="10" value="5"
                                               id="difficult" type="range">
                                    </div>
                                    <div class="field" id="text-field">
                                        <label class="label">Text<sup>*</sup></label>
                                        <div class="control">
                                            <textarea class="textarea" name="text" id="text" type="text"
                                                      rows="20" required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-success" type="button" id="submit">Create</button>
                                </div>
                                <div class="control">
                                    <button class="button" type="button" id="cancel">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include global/footer.ejs %>
</body>
</html>

