<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <% include global/head.style.ejs %>
    <% include addons/publication-view.ejs %>
    <% include addons/modal.ejs %>
    <script src='/js/publication.js'></script>
    <title id="page-title">title</title>
    <meta name="description" id='page-description' content="">
    <meta nmet="author" content="Danil Kazimirov">
</head>
<body class="is-light bg-light">
<% include global/header.ejs %>
<div class="hero has-bg is-black is-small">
    <div class="hero-body">
        <div class="has-text-centered">
            <p class="is-size-1 is-title" id="title"></p>
        </div>
    </div>
</div>
<div class="flex-container has-bg">
    <div class="column is-10-fullhd is-offset-1-fullhd flex-viewport" id="publication-container">
    </div>
    <div class="flex-footer">
        <% include global/footer.ejs %>
    </div>
</div>
</body>
</html>