<!doctype html>
<html lang="en">
<head>
    <% include global/head.style.ejs %>
    <script src='/js/register.js'></script>
    <title>Register</title>
    <meta name="description" content="User's registration">
    <meta name="author" content="Danil Kazimirov">
</head>
<body class="is-light bg-light">
<% include global/header.ejs %>
<div class="hero is-fullheight has-bg is-success">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-8 is-offset-2">
                <h1 class="is-size-1"> Join us now </h1>
                <h1 class="subtitle">Just fill form below</h1>
                <div class="card m-t-7">
                    <div class="card-header">
                        <div class="is-centered card-header-title">
                            <div class="avatar has-text-centered">
                                <div class="figure image is-128x128">
                                    <img class="avatar-image"
                                         src="https://apps.knust.edu.gh/knustaim/images/register-courses.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <form class="has-text-left ">
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="notification is-danger">
                                        <p class="title">
                                            <span class="icon">
                                                <i class="fa fa-user fa-1x"></i>
                                            </span> Personal</p>
                                        <p class="subtitle">information</p>
                                    </div>
                                    <div class="field" id="fullname-field">
                                        <label class="label">Your full name<sup>*</sup></label>
                                        <div class="control has-icons-left">
                                            <input class="input" name="fullname" id="fullname" type="text" required>
                                            <span class="icon is-left is-medium">
                                                <i class="fa fa-user"></i>
                                             </span>
                                        </div>
                                    </div>
                                    <div class="field" id="telegram-field">
                                        <label class="label">Your telegram nick</label>
                                        <div class="control has-icons-left">
                                            <input class="input" name="telegram" id="telegram" type="text">
                                            <span class="icon is-left is-medium">
                                    <i class="fa fa-telegram"></i>
                                </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="notification is-black ">
                                        <p class="title">
                                            <span class="icon">
                                                <i class="fa fa-shield fa-1x"></i>
                                            </span>Security</p>
                                        <p class="subtitle">credentials</p>
                                    </div>
                                    <div class="field" id="email-field">
                                        <label class="label">Your email<sup>*</sup></label>
                                        <div class="control has-icons-left">
                                            <input class="input" name="email" id="email" type="email" required>
                                            <span class="icon is-left is-medium">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                        </div>
                                    </div>
                                    <div class="field" id="password-field">
                                        <label class="label">Your password<sup>*</sup></label>
                                        <div class="control has-icons-left">
                                            <input class="input" name="password" id="password" type="password" required>
                                            <span class="icon is-left is-medium">
                                    <i class="fa fa-lock"></i>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-success" type="button" id="submit">Submit</button>
                                </div>
                                <div class="control">
                                    <button class="button is-danger" type="reset" id="reset">Clear</button>
                                </div>
                                <div class="control">
                                    <button class="button" type="button" id="cancel">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include global/footer.ejs %>
</body>
</html>

